.barraLogin{
			background-color:#d0d6d2;
    		text-align:right;
    		padding:5px;
    		margin-top:0px;
    		border-radius: 15px;
			}
			
.link1{
	text-decoration: none;
    outline: none;
    color:#25AAE1;
}

.bodyPrincipal{
	background-image: url("../imagenes/fondo2.jpg");
}

.banner{
		width: 75%;
		border-radius: 15px;
		 margin: auto;
    	padding: 10px;
}

.menu{
	float:left;
	margin-top: 10px;

}
#menu{
	border-style:solid; 
	border-width: 2.5px; 
	border-color: #0C9CB5; 
	border-radius: 10px;
/* 	background-color:#7E62FE; */
}
.contenedor{
	
}

#panelGrilla{
	padding-top:5px; 
	background-color: #D9D8DE;	
}

.panelBotones {
	border-style:solid; 
	border-width: 2.5px; 
	border-color: #0C9CB5; 
	border-radius: 10px;	
}
.row:ACTIVE, .row::AFTER {
	background-color: #000000 !important;
	}
/* .row: { */
/* 	border: 1px solid #666666 !important; */
/*     background: #80ff80-moz-linear-gradient(top, rgba(7,7,7,0.25), rgba(7,7,7,0)) !important; */
/*     color: #ffffff !important; */
/*     text-shadow: 1px 1px 1px #333333 !important; */
/* 	} */
.dataTabla{
	border-style:solid; 
	border-color:#0C9CB5; 
	border-width:2.5px; 
	border-radius:5px;
}

.divpedido{
	float:right;
	margin-top: 10px;
}
.mipedido{
	border-radius: 15px;
}

.panel1 {		/* utilizado en admin.xhtml panel usuario. */
	 margin-bottom:10px;
	 margin-top: 20px;
	 width: 50%;
	 height: 100%;
}

.div1 {
	margin-top:20px;
	border:solid;
	border-width:3px;
	border-color:#FF0000;
	width: 70%;
	height: 100%;
	margin-left: 15%;
	
}

.globalFilter{
	text-align:right;
}

.panelUsuario {
	width:70% !important;
	height: 100% !important;
	margin-left: 15% !important;
}

/* .panelSucursales { */
/* 	width:90% !important; */
/* 	height: 100% !important; */
/* 	margin-left: 5% !important; */
/* } */

#divBtnUsuario{
	margin-top: 5%;
}
.label{
	width:275px;
}
 
.boton{
	position: relative;
    left: 50px;
}
#divBtnUsuario button{
	margin-right: 20px;
}