th{
	background-image: none !important;
	border: 1px solid #ddd !important;
}

.ui-widget-overlay{
	width: 100% !important;
}

/* Si el tamaño de pantalla es mayor a 768px hace esto */
@media(min-width: 768px){
	
	.ui-selectonemenu-label.ui-inputfield.ui-corner-all, 
	.ui-selectonemenu-trigger.ui-state-default.ui-corner-right,
	.ui-column-customfilter{
		width: auto !important;
	}
	.ui-selectonemenu.ui-widget.ui-state-default.ui-corner-all{
		padding-right: 0px;
		width: 100%;
	}
}

.ui-button{
	margin: 5px 3px 5px 0px !important;
}

body{
	background-color: #fff !important;
	margin: 0px !important;
	height: 100%;
}

html{
	height: 100%;
	margin: 0px !important;
}

.ui-datatable-scrollable-header{
	background-image: none !important;
}

/* Separa la palabra Busqueda del input */
input#formProducto\:eventsDT\:globalFilter{
	margin-left: 3px;
}

/* Acomoda los tamaños de los filtros al 80% del tamaño de la columna */
.ui-column-filter.ui-inputfield.ui-inputtext.ui-widget.ui-state-default.ui-corner-all{
	width: 80%;
}



#page-wrapper{
	position: relative;
	padding-top: 60px !important;
	height: 100%;
}

/* Acomoda los dialog al medio */
.ui-dialog.ui-widget.ui-widget-content.ui-corner-all.ui-shadow.ui-hidden-container{
		position: absolute;
		left: 50% !important;
    	top: 50% !important;
    	transform: translate(-50%, -50%) !important;
    	-webkit-transform: translate(-50%, -50%) !important;
}

#wrapper{
	height: 100%;
}

/* Si el tamaño de pantalla es menor a 768px hace esto */
@media(max-width: 768px){
	.ui-column-filter.ui-inputfield.ui-inputtext.ui-widget.ui-state-default.ui-corner-all,
	.ui-column-customfilter,
	#formProducto\:eventsDT\:panelFiltro,
	#formPedidos\:pedidosHistoricosDT\:panelFiltro{
		display: none !important;
	}
	
	#page-wrapper{
		padding-top: 100px !important;
	}
}

#formProducto\:eventsDT\:globalFilter,
#formPedidos\:pedidosHistoricosDT\:globalFilter{
	width: 20% !important;
}

#formPedidos\:pedidosHistoricosDT\:panelFiltro{
	height: 10px;
}

#dlgMostrarDetallePedido{
	width: 100% !important;
}

.preparado{
	background-color: rgba(255, 117, 020, 0.3) !important;
}

.preparado:hover,
.preparado.ui-state-highlight{
	background-color: rgba(255, 117, 020, 1) !important;
}

.cobrado{
	background-color: rgba(132, 198, 104, 0.3) !important;
}

.cobrado:hover,
.cobrado.ui-state-highlight{
	background-color: rgba(132, 198, 104, 1) !important;
}

.deshabilitado,
.cancelado{
	background-color: rgba(216, 156, 156, 0.5) !important;
}

.deshabilitado:hover,
.cancelado:hover,
.deshabilitado.ui-state-highlight,
.cancelado.ui-state-highlight{
	background-color: rgba(216, 156, 156, 1) !important;
}

.en-espera,
.habilitado{
	background-color: rgba(200, 200, 200, 0) !important;
}

.en-espera:hover,
.en-espera.ui-state-highlight,
.habilitado:hover,
.habilitado.ui-state-highlight{
	background-color: rgba(150, 150, 150, 1) !important;
}

.en-preparacion{
	background-color: rgba(74, 170, 217, 0.3) !important;
}

.en-preparacion:hover,
.en-preparacion.ui-state-highlight{
	background-color: rgba(74, 170, 217, 1) !important;
}

.ui-datatable{
	text-align: center;
}

.ui-datatable tbody td{
	border-style: none !important;
}

.col-boton{
	border-left-style: none !important;
	width: 50px !important;
}

.col-lado-boton{
	border-right-style: none !important;
}

.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-icon-only{
	margin: 0px !important;
}

.ui-state-highlight{
	color: #fff !important;
	text-shadow: none !important;
	background-image: none !important;
	border: inherit !important;
}

#panelProductos{
	border: none !important;
}

.ui-datatable-selectable:focus{
	outline-color: activeborder !important;
}

.tabledialog {
     border-spacing: 10px; 
     border-collapse: separate;
}
     
td .ui-datagrid-content.ui-widget-content{
	background: none !important;
	border: none !important;
	color: inherit !important;
}

#j_idt10{
	padding-left: 4px;
}

.ui-state-highlight .ui-icon {
	background-image: url(/pf_hermes/javax.faces.resource/images/ui-icons_333333_256x240.png.xhtml?ln=primefaces-bootstrap);
}
#detailUser{
	cursor: pointer
}
