body {
    background-image: url("#{resource['imagenes/pizza.jpg']}");
    background-size: cover;
    background-repeat: no-repeat; 
    background-attachment: fixed;

}

.ui-widget-content{
	border: none !important;
	background: none !important;
}

.ui-dialog{
	background-color: white !important;
}

.ui-panel-content.ui-widget-content{
	padding: 0 !important;
}

.ui-panel.ui-widget.ui-widget-content.ui-corner-all{
	padding: 0 !important;
}

.ui-layout-unit-content.ui-widget-content{
	border-style: none !important;
}

.contenedor{
	opacity: 0.9 !important;
	border-bottom-style: none;
	margin: 0 0.6em 0.6em 0;
	padding: 0 !important;
	background-color: white !important;
}

.ui-button-text.ui-c{
	font-size: smaller;
	text-shadow: none;
	padding: .6em 1em !important;
}

.btnAgregar{
	background-color:  rgba(234, 72, 72, 0.6) !important;
	border-style: none !important;
	outline: none !important;
	background-image: none !important;
	color: white;
	border-radius: 0 !important;
	position: absolute !important;
	bottom: 0 !important;
	left: 0 !important;
}

.btnAgregar > span{
	color: white !important;
}

.btnAgregar.ui-state-hover,
.btnAgregar.ui-state-focus{
	outline: none !important;
	background-color:  rgba(234, 72, 72, 1) !important;
	border-color: #a8a8a8;
	box-shadow: none;
}

.contenedor td:nth-child(3){
	text-align: right;
}

a.ui-layout-unit-header-icon.ui-state-default.ui-corner-all,
.ui-layout-resizer-east-closed{
	display: none !important;
}

#formPedido{
	height: calc(100% - 100px);
	overflow: auto;
}

#formPedido hr{
	border: none !important;
}

#formPedido\:panelCarrito ul.ui-datalist-data{
	padding: 0;
}

#formPedido\:btnConfirmarFunca{
	padding-left: 15px;
}

.cantidadCarrito{
	font-size: smaller;
}

.productoCarrito{
	font-size: small;
}

.subtotalCarrito{
}

.ui-separator{
	width: 98% !important;
}

#bottom{
	position: absolute;
	bottom: 0;
	width: calc(100% - 20px);
	background-color: #333!important;
	padding: 13px 10px;
	color: white !important;
}

#formPedido\:menuSucursales{
	width: calc(100% - 30px) !important;
}

.ui-widget-header{
	background-color:  rgba(234, 72, 72, 1) !important;
	background-image: none !important;
	text-shadow: none;
	color: white;
	box-shadow: none;
	outline: none;
	border-style: none;
}

.ui-menu.ui-widget.ui-widget-content.ui-corner-all.ui-helper-clearfix{
	background-image: none !important;
	background-color: white!important;
	opacity: .9;
}

.ui-selectonemenu-list{
	background-color: white !important;
}

#formPedido\:menuSucursales,
#formPedido\:menuSucursales_items,
#formPedido\:panelTotal,
#formPedido\:btnConfirmarFunca{
	font-size: small !important;
}

#formPedido\:btnConfirmarFunca{
	width: 99%;
	padding: 3px 0;
}

#formPedido\:panelCarrito #formPedido\:j_idt17_content table{
	width: 100%;
}

.c-menu .ui-datalist td:nth-child(1),
.c-menu .ui-datalist td:nth-child(4){
	width: 22px;
}

.c-menu .ui-datalist td:nth-child(3){
	width: 56px;
}

.c-menu .ui-datalist table{
	width: 100% !important;	
}

.contenedor td:nth-child(2){
	width: 56px;
}

.c-menu span{
	color: white;
}

#c-button--slide-right{
	position: absolute;
	right: 0;
	bottom: 0;
}

#formPedido{
	height: 75% !important;
}

#header{
	background-color: white !important;
	opacity: .9;
	margin: 7px !important;
	padding-bottom: 0 !important;
}

.inputLogin{
	width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

#btnLogin{
	background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}

img.avatar {
    width: 40%;
    border-radius: 50%;
}

#lnkReestablecerPass{
	color: blue;
	text-decoration: underline;
	cursor: pointer; 
}

/* Add padding to containers */
.container {
    padding: 16px;
}