<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:jsf="http://xmlns.jcp.org/jsf"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets">
<h:head>
	<meta charset="utf-8"></meta>
	<!-- Custom Fonts -->
    <link href="../../resources/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
</h:head>
<h:body>

	<h:outputStylesheet library="css" name="hermes.css" target="head" />
	<h:outputStylesheet library="css" name="bootstrap.min.css" target="head" />
	<h:outputStylesheet library="css" name="sb-admin.css" target="head" />
	
	<div id="wrapper">
	
	
	<ui:include src="../../plantillas/cabecera.xhtml" />
	
	 <div id="page-wrapper">

            <div class="container-fluid">
	
		<h:form id="formProducto" class="formProducto">
			<p:growl id="msgs" showDetail="true" globalOnly="true" />
<!-- 			<p:outputPanel id="panelTabla" autoUpdate="true"> -->
				<p:dataTable id="eventsDT" var="producto"
					value="#{productView.productos}" selectionMode="single"
					selection="#{productView.productoSeleccionado}"
					rowKey="#{producto.nombre}" widgetVar="tablaProductos"
					emptyMessage="No se encontraron productos con el criterio especificado."
					filteredValue="#{productView.filtroProductos}">
					<f:facet name="header">
            					Listado de Pedidos
					</f:facet>
					
					<p:ajax event="rowSelect" listener="#{productView.onRowSelect}"
						update=":formProducto:panelBotones" />
					<p:column headerText="Descripción" id="descripcionDT" >
						<h:outputText value="#{producto.descripcion}" />
					</p:column>
					<p:column headerText="Precio" id="precioDT">
						<h:outputText value="#{producto.precio}" />
					</p:column>
					<p:column headerText="Imagen" id="imagenDT">
						<h:outputText value="#{producto.imagen}" />
					</p:column>

				</p:dataTable>
<!-- 			</p:outputPanel> -->
			
			<p:outputPanel id="panelBotones" autoUpdate="true">

				<p:commandButton id="btnCancelar" value="Cancelar"
					icon="ui-icon-close" disabled="#{bean.noHaySeleccionado}"
					actionListener="#{bean.cancelarPedido}"
					update=":formProducto:msgs , :formProducto:eventsDT">
					<p:confirm header="Cancelar Pedido"
						message="¿Está seguro de cancelar el pedido seleccionado?"
						icon="ui-icon-alert" />
					<p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
						<p:commandButton value="Si"
							styleClass="ui-confirmdialog-yes" icon="ui-icon-check"
							update=":formProducto:panelBotones" />
						<p:commandButton value="No" type="button"
							styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
					</p:confirmDialog>
				</p:commandButton>
			</p:outputPanel>
		</h:form>
		
		</div>
		</div>
		</div>

</h:body>
</html>