<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:jsf="http://xmlns.jcp.org/jsf"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets">
<h:head>
	<title>Hermes</title>
	<meta charset="utf-8"></meta>
	<!-- Custom Fonts -->
    <link href="../../resources/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
</h:head>
<h:body>

	<h:outputStylesheet library="css" name="hermes.css" target="head" />
	<h:outputStylesheet library="css" name="bootstrap.min.css" target="head" />
	<h:outputStylesheet library="css" name="sb-admin.css" target="head" />
	
	<div id="wrapper">
	
	
	<ui:include src="../../plantillas/cabecera.xhtml" />
	
	 <div id="page-wrapper">

            <div class="container-fluid">

	<f:metadata>
		<f:event type="preRenderView" listener="#{pedidoView.filtroFecha}" />
	</f:metadata>

		<h:form id="formPedidos" class="formPedidos">
			<p:growl id="msgs" showDetail="true" globalOnly="true" />
			<h:panelGrid class="panelBotones" id="panelBotones" columns="5">
			
				<p:commandButton id="btnReestablecerFecha" value="Fecha"
					action="#{pedidoView.reestablecerFecha}" icon="ui-icon-pencil">
				</p:commandButton>
				<h4>Desde: </h4>
				<p:commandLink id="fechaDesde"> 
					<h:outputText value="#{pedidoView.fechaDesdeFormateada}"/>
				</p:commandLink>
				
				<h4>Hasta: </h4>
				<p:commandLink id="fechaHasta">
					<h:outputText value="#{pedidoView.fechaHastaFormateada}"/>
				</p:commandLink>
				
			</h:panelGrid>
			
			<p:dataTable class="dataTabla" id="pedidosHistoricosDT" var="pedido" widgetVar="tablaPedidos"
				value="#{pedidoView.pedidosHistoricos}" selectionMode="single"
				selection="#{pedidoView.pedidoHistoricoSeleccionado}" rowKey="#{pedido.id}" 
				sortBy="#{pedido.id}" paginator="true" rows="10" paginatorPosition="bottom" 
				paginatorAlwaysVisible="false" emptyMessage="No se encontraron pedidos con el criterio especificado."
				filteredValue="#{pedidoView.filtroPedidosHistoricos}"
				rowStyleClass="#{pedido.estado eq 'En Espera' ? 'en-espera' : 
					pedido.estado eq 'Preparado' ? 'preparado' : 
					pedido.estado eq 'Cancelado' ? 'cancelado' : 
					pedido.estado eq 'En Preparación' ? 'en-preparacion' : 
					null}">
				<f:facet name="header">
					<p:outputPanel id="panelFiltro" style="text-align:right;">
						<h:outputText value="Buscar:" />
						<p:inputText id="globalFilter"
							onkeyup="PF('tablaPedidos').filter()" style="width:150px"
							placeholder="Búsqueda" />
					</p:outputPanel>
            					Listado de Pedidos
				</f:facet>
				<p:ajax event="rowDblselect" listener="#{pedidoView.rowDblSelect}"
					update=":dlgMostrarDetallePedido" />
				<p:ajax event="rowSelect" listener="#{pedidoView.onRowSelect}" 
					update=":formPedidos:panelBotones"/>
				<p:column headerText="Pedido" id="nroDT" sortBy="#{pedido.id}"
					filterBy="#{pedido.id}" filterMatchMode="contains" priority="4" style="width:15%">
					<h:outputText value="#{pedido.id}" />
				</p:column>
				<p:column headerText="Fecha" id="fechaDT" sortBy="#{pedido.fechaPedido}">
					<h:outputText value="#{pedido.fechaPedido}">
						<f:convertDateTime pattern="dd/MM/yy" />
					</h:outputText>
				</p:column>
				<p:column headerText="Hora" id="horaDT" priority="2" style="width:15%">
					<h:outputText value="#{pedido.horaPedido}">
						<f:convertDateTime pattern="H:mm" />
					</h:outputText>
				</p:column>
				<p:column headerText="Sucursal" id="sucursalDT" sortBy="#{pedido.sucursal.nombre}"
					filterBy="#{pedido.sucursal.nombre}" filterMatchMode="exact">
					<f:facet name="filter">
						<p:selectOneMenu onchange="PF('tablaPedidos').filter()">
							<f:selectItem itemLabel="Todas" itemValue="#{null}" />
							<f:selectItems value="#{pedidoView.sucursales}" />
						</p:selectOneMenu>
					</f:facet>
					<h:outputText value="#{pedido.sucursal.nombre}" />
				</p:column>

				<p:column headerText="Total" id="totalDT" sortBy="#{pedido.total}">
					<h:outputText value="#{pedido.total}"/>
				</p:column>
				<p:column headerText="Estado" id="estadoDT"
					filterBy="#{pedido.estado.nombre}" filterMatchMode="exact" priority="6"
					styleClass="col-lado-boton">
					<f:facet name="filter">
						<p:selectOneMenu onchange="PF('tablaPedidos').filter()">
							<f:selectItem itemLabel="Seleccione:" itemValue="#{null}" />
							<f:selectItems value="#{pedidoView.estados}" />
						</p:selectOneMenu>
					</f:facet>
					<h:outputText value="#{pedido.estado.nombre}" />

				</p:column>
				<p:column style="text-align: center" styleClass="col-boton">
             		<p:commandButton update=":formDetalle" oncomplete="PF('dlgMostrarDetallePedido').show()" icon="ui-icon-search" title="View">
                		<f:setPropertyActionListener value="#{pedido}" target="#{pedidoView.pedidoHistoricoSeleccionado}" />
            		</p:commandButton>
        		</p:column>
				<!-- 					<p:column headerText="Tipo de Entrega" id="entregaDT" filterBy="#{producto.enviado}" filterMatchMode="equals"> -->
				<!--             			<f:facet name="filter"> -->
				<!--                 			<p:selectOneButton onchange="PF('tablaPedidos').filter()"> -->
				<!--                     			<f:converter converterId="javax.faces.Boolean" /> -->
				<!--                     			<f:selectItem itemLabel="T" itemValue="" /> -->
				<!-- Todos -->
				<!--                     			<f:selectItem itemLabel="E" itemValue="true" /> -->
				<!-- Envío -->
				<!--                     			<f:selectItem itemLabel="R" itemValue="false" /> -->
				<!-- Retiro -->
				<!--                 			</p:selectOneButton> -->
				<!--             			</f:facet> -->
				<!--             			<h:outputText value="#{pedido.enviado ? 'Enviado': 'Retirado'}" /> -->
				<!--         			</p:column> -->

			</p:dataTable>

		</h:form>

	<p:dialog header="Detalles de Pedido"
		widgetVar="dlgMostrarDetallePedido" resizable="false" modal="true"
		id="dlgMostrarDetallePedido" closable="false">

		<h:form id="formDetalle" class="formDetalle">

			<p:dataTable id="detalleDT" var="detalle"
				value="#{pedidoView.pedidoHistoricoSeleccionado.detalle}" widgetVar="tablaDetalle"
				rowKey="#{detalle.producto.nombre}" paginator="true" rows="12" 
				paginatorPosition="bottom" paginatorAlwaysVisible="false" 
				emptyMessage="No se encontraron pedidos con el criterio especificado."
				rowStyleClass="#{detalle.estado eq 'En Espera' ? 'en-espera' : 
					detalle.estado eq 'Preparado' ? 'preparado' : 
					detalle.estado eq 'Cancelado' ? 'cancelado' : 
					detalle.estado eq 'En Preparación' ? 'en-preparacion' : 
					detalle.estado eq 'Cobrado' ? 'cobrado' :
					null}">

				<p:column headerText="Tipo" id="tipoProductoDT">
					<h:outputText value="#{detalle.producto.tipoProducto}" />
				</p:column>
				
				<p:column headerText="Producto" id="productoDT">
					<h:outputText value="#{detalle.producto.nombre}" />
				</p:column>

				<p:column headerText="Precio" id="precioDT" priority="6">
					<h:outputText value="#{detalle.precioProducto}" />
				</p:column>

				<p:column headerText="Cantidad" id="cantidadDT" priority="5">
					<h:outputText value="#{detalle.cantidad}" />
				</p:column>

				<p:column headerText="Subtotal" id="subtotalDT">
					<h:outputText value="#{detalle.subtotal}" />
				</p:column>
				<p:columnGroup type="footer">
					<p:row>
						<p:column colspan="4" style="text-align:right" footerText="Total:" />
						<p:column footerText="#{pedidoView.pedidoHistoricoSeleccionado.total}" />
					</p:row>
				</p:columnGroup>
			</p:dataTable>

			<p:outputPanel id="panelBotones" autoUpdate="true">
				<p:commandButton oncomplete="PF('dlgMostrarDetallePedido').hide();"
					id="btnCerrarDetalles" value="Cerrar" icon="ui-icon-close"
					update=":formPedidos">
				</p:commandButton>
			</p:outputPanel>
		</h:form>

	</p:dialog>

	<p:dialog header="Filtro por Fecha" widgetVar="dlgFiltroFecha"
		resizable="false" modal="true" id="dlgFiltroFecha" closable="false">
		<h:form id="formFiltro" class="formFiltro">

			<h:panelGrid columns="2" cellpadding="3">
				<p:outputLabel for="fechaDesde" value="Fecha de Inicio del rango:" />
				<h:panelGrid columns="2">
					<p:calendar id="fechaDesde" value="#{pedidoView.fechaDesde}"
						effect="fold" maxdate="#{pedidoView.maxDate}" required="true"
						requiredMessage="Fecha de inicio de rango de búsqueda no ingresado." >
						<p:ajax event="dateSelect" update="fechaHasta"/>	
					</p:calendar>
						
					<p:message for="fechaDesde" display="icon" />
				</h:panelGrid>

				<p:outputLabel for="fechaHasta" value="Fecha de Fin del rango:"/>
				<h:panelGrid columns="2">
					<p:calendar id="fechaHasta" value="#{pedidoView.fechaHasta}" 
						mindate="#{pedidoView.fechaDesde}" effect="fold" 
						maxdate="#{pedidoView.maxDate}" required="true" 
						requiredMessage="Fecha de fin de rango de búsqueda no ingresado.">
					</p:calendar>
					<p:message for="fechaHasta" display="icon" />
				</h:panelGrid>

				<p:commandButton value="Confirmar" id="btnConfirmar"
					icon="ui-icon-check" action="#{pedidoView.cargarPedidosHistoricos}"
					styleClass="ui-priority-primary"
					update=":formPedidos:msgs , :formFiltro , :formPedidos">
				</p:commandButton>
				<p:commandButton value="Cancelar" icon="ui-icon-close"
					action="pedidosActuales" process="@this" oncomplete="PF('dlgFiltroFecha').hide()">
					<p:resetInput target=":formFiltro" />
				</p:commandButton>
			</h:panelGrid>
		</h:form>
	</p:dialog>
	</div>
	</div>
	</div>
</h:body>
</html>