<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:jsf="http://xmlns.jcp.org/jsf"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets">
<h:head>
	<title>Hermes</title>
	<meta charset="utf-8"></meta>
	<!-- Custom Fonts -->
    <link href="../../resources/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
<!--     <link href="resources/js/myJS.js" rel="javascript" type="text/javascript" /> -->
</h:head>
<h:body>
	
	<h:outputStylesheet library="css" name="hermes.css" target="head" />
	<h:outputStylesheet library="css" name="bootstrap.min.css" target="head" />
	<h:outputStylesheet library="css" name="sb-admin.css" target="head" />
	
	<div id="wrapper">
	
	
	<ui:include src="../../plantillas/cabecera.xhtml" />
	
	 <div id="page-wrapper">

            <div class="container-fluid">
	
		<h:form id="formProducto" class="formProducto">
			<p:growl id="msgs" showDetail="true" globalOnly="true" />

			<h:panelGrid class="panelBotones" id="panelBotones" columns="3">
				<p:commandButton oncomplete="PF('dlgNuevoProducto').show();"
					action="#{productView.vaciarCampos}" id="btnNuevo" value="Nuevo"
					icon="ui-icon-plus" update=":dlgNuevoProducto">
				</p:commandButton>

				<p:commandButton oncomplete="PF('dlgModificarProducto').show();"
					id="btnModificar" value="Modificar" icon="ui-icon-pencil"
					disabled="#{productView.noHaySeleccionado}"
					action="#{productView.modificarProducto}"
					update=":dlgModificarProducto">
				</p:commandButton>

				<p:commandButton id="btnCambiarEstado" value="Estado"
					icon="ui-icon-close" disabled="#{productView.noHaySeleccionado}"
					actionListener="#{productView.verificarDeshabilitacionP}"
					update=":formProducto:msgs , :formProducto , :dlgVerificacionDeshabilitacion , :formProducto:panelBotones">
				</p:commandButton>
			</h:panelGrid>
			
			<p:dataTable class="dataTabla" id="eventsDT" var="producto"
				value="#{productView.productos}" selectionMode="single"
				selection="#{productView.productoSeleccionado}"
				rowKey="#{producto.id}" widgetVar="tablaProductos" sortBy="#{producto.nombre}" 
				paginator="true" rows="10" paginatorPosition="bottom" paginatorAlwaysVisible="true"
				emptyMessage="No se encontraron productos con el criterio especificado."
				filteredValue="#{productView.filtroProductos}"
				rowStyleClass="#{producto.habilitado ? 'habilitado' : 'deshabilitado'}">
				<f:facet name="header">
					<p:outputPanel id="panelFiltro" style="text-align:right; height: 10px;">
						<h:outputText value="Buscar:" />
						<p:inputText id="globalFilter"
							onkeyup="PF('tablaProductos').filter()" style="width:20%"
							placeholder="Búsqueda" />
					</p:outputPanel>
            					Listado de Productos
            			
					</f:facet>

				<p:ajax event="rowDblselect"
					listener="#{productView.rowDblSelectProducto}"
					update=":dlgModificarProducto" />

				<p:ajax event="rowSelect" listener="#{productView.onRowSelect}"
					update=":formProducto:panelBotones" />

				<p:column headerText="Producto" id="nombreDT" sortBy="#{producto.nombre}"
					filterBy="#{producto.nombre}#{productView.removeAcentos(producto.nombre)}" filterMatchMode="contains">
					<h:outputText value="#{producto.nombre}" />
				</p:column>

				<p:column headerText="Descripción" id="descripcionDT" priority="4">
					<h:outputText value="#{producto.descripcion}" />
				</p:column>

				<p:column headerText="Tipo" id="tipoProductoDT" sortBy="#{producto.tipoProducto.nombre}"
					filterBy="#{producto.tipoProducto.nombre}" filterMatchMode="exact">
					<f:facet name="filter">
						<p:selectOneMenu onchange="PF('tablaProductos').filter()">
							<f:selectItem itemLabel="Todos" itemValue="#{null}" />
							<f:selectItems value="#{productView.tipoProductos}" />
						</p:selectOneMenu>
					</f:facet>
					<h:outputText value="#{producto.tipoProducto.nombre}" />
				</p:column>

				<p:column headerText="Precio" id="precioDT" sortBy="#{producto.precio}">
					<h:outputText value="#{producto.precio}" />
				</p:column>

				<p:column headerText="Imagen" id="imagenDT" priority="6">
					<img src="#{producto.imagen}" style="object-fit: scale-down !important;height: 100%;width: 100%;"/>
				</p:column>

				<p:column headerText="Estado" id="estadoDT" 
					filterBy="#{producto.habilitado}" filterMatchMode="equals" priority="5">
					<f:facet name="filter">
						<p:selectOneButton onchange="PF('tablaProductos').filter()">
							<f:converter converterId="javax.faces.Boolean" />
							<f:selectItem itemLabel="T" itemValue="" />
							<f:selectItem itemLabel="H" itemValue="true" />
							<f:selectItem itemLabel="D" itemValue="false" />
						</p:selectOneButton>
					</f:facet>
					<h:outputText
						value="#{producto.habilitado ? 'Habilitado': 'Deshabilitado'}" />
				</p:column>

			</p:dataTable>

			
		</h:form>

	<p:dialog header="Nuevo producto" widgetVar="dlgNuevoProducto"
		resizable="false" modal="true" id="dlgNuevoProducto" closable="false">
		<h:form style="disabled:true;" id="formNuevo">

			<h:panelGrid class="tabledialog" columns="2" cellpadding="3">
				<p:outputLabel for="name" value="Nombre:" />
				<h:panelGrid columns="2">
					<p:inputText id="name" value="#{productView.nombreProducto}"
						required="true" requiredMessage="Nombre de producto no ingresado" />
					<p:message for="name" display="icon" />
				</h:panelGrid>

				<p:outputLabel for="descripcion" value="Descripción:" />
				<p:inputTextarea id="descripcion"
					value="#{productView.descripcionProducto}" required="false" />

				<p:outputLabel for="menuTipoProducto" value="Tipo:" />
				<h:panelGrid columns="2">
					<p:selectOneMenu id="menuTipoProducto"
						value="#{productView.tipoProductoSeleccionadoCombo}"
						style="width:300px" name="tipoProductos" label="Tipo de Producto"
						required="true" requiredMessage="Tipo de producto no seleccionado">
						<f:selectItem itemLabel="Seleccione un tipo de producto"
							itemValue="" noSelectionOption="true" />
						<f:selectItems value="#{productView.tipoProductos}" />
					</p:selectOneMenu>
					<p:message for="menuTipoProducto" display="icon" />
				</h:panelGrid>
				<p:outputLabel for="precio" value="Precio: $" />
				<h:panelGrid columns="2">
					<p:inputText id="precio" value="#{productView.precio}"
						validatorMessage="El valor ingresado debe ser positivo y colocar '.' para valores decimales."
						required="true" requiredMessage="Precio de producto no ingresado">
						<f:validateDoubleRange minimum="0.0" />
					</p:inputText>
					<p:message for="precio" display="icon" />
					<p:watermark for="precio" value="Valor con '.' para decimal"
						id="watermarkPrecio" />
				</h:panelGrid>
				
				<p:outputLabel value="Imagen:" />
				<p:inputText id="urlImage" required="true" requiredMessage="Imagen de producto no ingresada" value="#{productView.urlImagen}" />
				
				<p:outputLabel value="Vista previa:" />
				<p:commandButton value="Ver Imagen" id="btnImagen" icon="ui-icon-photo"
					update=":formNuevo , :dlgImagen , :formImagen"
					oncomplete="PF('dlgImagen').show();">
				</p:commandButton>
				
				<p:outputLabel value="Estado" />
				<p:selectBooleanButton id="estado"
					value="#{productView.estadoProducto}" offLabel="Deshabilitado"
					onLabel="Habilitado" required="true" />

				<p:commandButton value="Guardar" id="btnGuardar" icon="ui-icon-disk"
					action="#{productView.saveProducto}"
					styleClass="ui-priority-primary"
					update=":formProducto:msgs , :formNuevo, :formProducto">
				</p:commandButton>
				<p:commandButton value="Cancelar" icon="ui-icon-close"
					oncomplete="PF('dlgNuevoProducto').hide()" process="@this">
					<p:resetInput target=":formNuevo" />
				</p:commandButton>
			</h:panelGrid>
		</h:form>
	</p:dialog>

	<p:dialog header="Modificar producto" widgetVar="dlgModificarProducto"
		resizable="false" modal="true" id="dlgModificarProducto"
		closable="false">
		<h:form style="disabled:true;" id="formModificar">

			<h:panelGrid class="tabledialog" columns="2" cellpadding="3">
				<h:outputLabel for="name" value="Nombre:" />
				<h:panelGrid columns="2">
					<p:inputText id="name" value="#{productView.nombreProducto}"
						required="true" requiredMessage="Nombre de producto no ingresado" />
					<p:message for="name" display="icon" />
				</h:panelGrid>

				<p:outputLabel for="descripcion" value="Descripción:" />
				<p:inputTextarea id="descripcion"
					value="#{productView.descripcionProducto}" required="false" />

				<h:outputLabel for="menuTipoProducto" value="Tipos:" />
				<h:panelGrid columns="2">
					<p:selectOneMenu id="menuTipoProducto"
						value="#{productView.tipoProductoSeleccionadoCombo}"
						style="width:300px" required="true"
						requiredMessage="Tipo de producto no seleccionado"
						name="tipoProductos" label="Tipo de Producto">
						<f:selectItems value="#{productView.tipoProductos}" />
					</p:selectOneMenu>
					<p:message for="menuTipoProducto" display="icon" />
				</h:panelGrid>

				<p:outputLabel for="precio" value="Precio: $" />
				<h:panelGrid columns="2">
					<p:inputText id="precio" value="#{productView.precio}"
						validatorMessage="El valor ingresado debe ser positivo y colocar '.' para valores decimales."
						required="true" requiredMessage="Precio de producto no ingresado">
						<f:validateDoubleRange minimum="0.0"/>
					</p:inputText>
					<p:message for="precio" display="icon"/>
					<p:watermark for="precio" value="Valor con '.' para decimal"
						id="watermarkPrecio" />
				</h:panelGrid>

				<p:outputLabel value="Imagen:" />
				<p:inputText id="urlImage" required="true" requiredMessage="Imagen de producto no ingresada" value="#{productView.urlImagen}" />
				
				<p:outputLabel value="Vista previa:" />
				<p:commandButton value="Ver Imagen" id="btnImagen" icon="ui-icon-photo"
					update=":formModificar , :dlgImagen , :formImagen"
					oncomplete="PF('dlgImagen').show();">
				</p:commandButton>

				<p:outputLabel value="Estado" />
				<p:selectBooleanButton id="estado"
					value="#{productView.estadoProducto}" offLabel="Deshabilitado"
					onLabel="Habilitado" required="true" />

				<h:panelGrid id="panelBotones" columns="2">
					<p:commandButton value="Guardar" id="btnGuardarModificacion"
						icon="ui-icon-disk" actionListener="#{productView.validarModificacionProducto}"
						update=":formProducto:panelBotones , :formProducto:msgs , :formModificar , :formProducto:eventsDT , :dlgVerificacionModificacion">
					</p:commandButton>
					<p:commandButton value="Cancelar" icon="ui-icon-close"
						process="@this" oncomplete="PF('dlgModificarProducto').hide()">
						<p:resetInput target=":formModificar" />
					</p:commandButton>
				</h:panelGrid>


			</h:panelGrid>

		</h:form>
	</p:dialog>
	
	<p:dialog header="Vista Previa" widgetVar="dlgImagen"
		resizable="false" modal="true" id="dlgImagen" closable="true">
		<h:form style="disabled:true;" id="formImagen">
			<img src="#{productView.urlImagen}" style="height:50vh;width:50wh;"/>
			<p:commandButton value="Cerrar" icon="ui-icon-close" 
				oncomplete="PF('dlgImagen').hide()">
			</p:commandButton>
		</h:form>
	</p:dialog>
	
	<p:dialog header="Pedidos afectados a la acción solicitada"
		widgetVar="dlgVerificacionDeshabilitacion" resizable="false"
		modal="true" id="dlgVerificacionDeshabilitacion" closable="false">
		<h:form style="disabled:true;" id="formVerificación">

			<p:dataTable class="dataTabla" id="verificacionDT" var="pedido"
				value="#{productView.pedidosAfectados}" rowKey="#{pedido.id}"
				sortBy="#{pedido.id}" paginator="true" rows="12" 
				paginatorPosition="bottom" paginatorAlwaysVisible="false">
				<f:facet name="header">
            				Pedidos asociados al producto que intenta deshabilitar.
        			</f:facet>
				<p:column headerText="Nº del pedido" id="nroDT">
					<h:outputText value="#{pedido.id}" />
				</p:column>
				<p:column headerText="Fecha" id="fechaDT">
					<h:outputText value="#{pedido.fechaPedido}" />
				</p:column>
				<p:column headerText="Hora" id="horaDT">
					<h:outputText value="#{pedido.horaPedido}" />
				</p:column>
				<p:column headerText="Sucursal" id="sucursalDT">
					<h:outputText value="#{pedido.sucursal.nombre}" />
				</p:column>
				<p:column headerText="Estado" id="estadoDT">
					<h:outputText value="#{pedido.estado.nombre}" />
				</p:column>
				<p:column headerText="Total" id="totalDT">
					<h:outputText value="#{pedido.total}" />
				</p:column>

			</p:dataTable>

			<h:panelGrid id="panelBotones" columns="2">
				<p:commandButton value="Confirmar Deshabilitación" id="btnConfirmar"
					icon="ui-icon-check"
					action="#{productView.cambiarEstadoProducto}"
					update=":formProducto:msgs , :formProducto:eventsDT"
					oncomplete="PF('dlgVerificacionDeshabilitacion').hide()">
				</p:commandButton>
				<p:commandButton value="Cancelar" icon="ui-icon-close"
					process="@this"
					oncomplete="PF('dlgVerificacionDeshabilitacion').hide()">
				</p:commandButton>
			</h:panelGrid>
		</h:form>
	</p:dialog>
	<p:dialog header="Pedidos afectados a la acción solicitada"
		widgetVar="dlgVerificacionModificacion" resizable="false" modal="true"
		id="dlgVerificacionModificacion" closable="false">
		<h:form style="disabled:true;" id="formVerificaciónModificacion">

			<p:dataTable class="dataTabla" id="modificacionDT" var="pedido"
				value="#{productView.pedidosAfectados}" rowKey="#{pedido.id}"
				sortBy="#{pedido.id}" paginator="true" rows="12" 
				paginatorPosition="bottom" paginatorAlwaysVisible="false">
				<f:facet name="header">
            				Pedidos asociados al producto que intenta modificar.
        		</f:facet>
				<p:column headerText="Nº del pedido" id="nroDT">
					<h:outputText value="#{pedido.id}" />
				</p:column>
				<p:column headerText="Fecha" id="fechaDT">
					<h:outputText value="#{pedido.fechaPedido}" />
				</p:column>
				<p:column headerText="Hora" id="horaDT">
					<h:outputText value="#{pedido.horaPedido}" />
				</p:column>
				<p:column headerText="Sucursal" id="sucursalDT">
					<h:outputText value="#{pedido.sucursal.nombre}" />
				</p:column>
				<p:column headerText="Total" id="totalDT">
					<h:outputText value="#{pedido.total}" />
				</p:column>

			</p:dataTable>

			<h:panelGrid id="panelBotones" columns="2">
				<p:commandButton value="Confirmar Modificación" id="btnConfirmar"
					icon="ui-icon-check"
					action="#{productView.updateProducto}"
					update=":formProducto:msgs , :formProducto:eventsDT"
					oncomplete="PF('dlgVerificacionModificacion').hide()">
				</p:commandButton>
				<p:commandButton value="Cancelar" icon="ui-icon-close"
					process="@this"
					oncomplete="PF('dlgVerificacionModificacion').hide()">
				</p:commandButton>
			</h:panelGrid>
		</h:form>
	</p:dialog>
	</div>
	</div>
	</div>
</h:body>
</html>
