<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:jsf="http://xmlns.jcp.org/jsf"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:pe="http://primefaces.org/ui/extensions">
	<h:head>
		<title>Hermes</title>
		<meta charset="utf-8"></meta>
		<!-- Custom Fonts -->
	    <link href="../../resources/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
	    <script	src="http://maps.google.com/maps/api/js?key=AIzaSyDHqKjNhFaIFJmQDa4SjlTdumSY0KYBnFg"
			type="text/javascript">
		</script>
	
		<script type="text/javascript">
			function geocode() {
				var adrees = $('#formNueva\\:calle').val() + " "
						+ $('#formNueva\\:num').val() + ", "
						+ PF('menuCiudad').getSelectedValue() + " "
						+ PF('menuProvincia').getSelectedValue();
				PF('geoMap').geocode(adrees);
			}
		</script>
	</h:head>
	<h:body>
	
		<h:outputStylesheet library="css" name="hermes.css" target="head" />
		<h:outputStylesheet library="css" name="bootstrap.min.css" target="head" />
		<h:outputStylesheet library="css" name="sb-admin.css" target="head" />
		
		<div id="wrapper">
		
		
		<ui:include src="../../plantillas/cabecera.xhtml" />
		
		 <div id="page-wrapper">
	
	            <div class="container-fluid">
		
	 		<h:form id="form" class="panelSucursalesDejadoDeLado">
				<p:growl id="msgs" showDetail="true" globalOnly="true" />
				<h:panelGrid class="panelBotones" id="panelBotones" columns="3">
					<p:commandButton oncomplete="PF('dlgNuevaSucursal').show();"
						id="btnNueva" value="Nueva" action="#{sucursalView.borrarVista}"
						icon="ui-icon-plus" update=":dlgNuevaSucursal">
					</p:commandButton>
	
					<p:commandButton oncomplete="PF('dlgModificarSucursal').show();"
						id="btnModificar" value="Modificar" icon="ui-icon-pencil"
						update=":dlgModificarSucursal"
						disabled="#{sucursalView.noHaySeleccionado}"
						action="#{sucursalView.modificarSucursal}">
					</p:commandButton>
					
					<p:commandButton id="btnCambiarEstado" value="Estado"
						disabled="#{sucursalView.noHaySeleccionado}" actionListener="#{sucursalView.cambiarEstado}"
						update=":form:eventsDT , :form:msgs , :form:panelBotones">
					</p:commandButton>
				</h:panelGrid>
				
				<p:dataTable class="dataTabla" id="eventsDT" var="branch" widgetVar="branchTable"
						value="#{sucursalView.sucursales}" selectionMode="single"
						selection="#{sucursalView.sucursalSeleccionada}"
						rowKey="#{branch.nombre}" sortBy="#{branch.nombre}" 
						paginator="true" rows="12" paginatorPosition="bottom" paginatorAlwaysVisible="false"
						filteredValue="#{sucursalView.filtroSucursal}" 
						emptyMessage="No se encontraron sucursales con el criterio especificado"
						rowStyleClass="#{branch.habilitado ? 'habilitado' : 'deshabilitado'}">
						<f:facet name="header">
	            Listado de Sucursales
	        		</f:facet>
						<p:ajax event="rowDblselect"
							listener="#{sucursalView.rowDblSelectSucursal}"
							update=":dlgModificarSucursal" />
						<p:ajax event="rowSelect" listener="#{sucursalView.onRowSelect}"
							update=":form" />
						<p:ajax event="rowUnselect"
							listener="#{sucursalView.onRowUnselect}" update=":form:msgs" />
	
						<p:column headerText="Nombre" id="nombreDT" sortBy="#{branch.nombre}">
							<h:outputText value="#{branch.nombre}" sort="ascending"/>
						</p:column>
						<p:column headerText="Teléfono" id="telDT">
							<h:outputText value="#{branch.telefono}" />
						</p:column>
						<p:column headerText="Calle" id="calleDT" priority="2">
							<h:outputText value="#{branch.calle}" />
						</p:column>
						<p:column headerText="Número" id="numDT" priority="2">
							<h:outputText value="#{branch.numero}" />
						</p:column>
						<p:column headerText="Ciudad" id="ciudadDT" sortBy="#{branch.ciudad.nombre}">
							<h:outputText value="#{branch.ciudad.nombre}" />
						</p:column>
						<p:column headerText="Descripción" id="descDT" priority="6">
							<h:outputText value="#{branch.descripcion}" />
						</p:column>
						<p:column filterBy="#{branch.habilitado}" headerText="Estado"
						 filterMatchMode="equals" id="estadoDT" priority="5">
	            			<f:facet name="filter">
	                		<p:selectOneButton onchange="PF('branchTable').filter()">
	                    		<f:converter converterId="javax.faces.Boolean" />
	                    		<f:selectItem itemLabel="T" itemValue="" />
	                    		<f:selectItem itemLabel="H" itemValue="true" />
	                    		<f:selectItem itemLabel="D" itemValue="false" />
	                		</p:selectOneButton>
	            			</f:facet>
	            			<h:outputText value="#{branch.habilitado ? 'Habilitada': 'Deshabilitada'}" />
	        			</p:column>
	
					</p:dataTable>
	
			</h:form>
	
		<p:dialog header="Nueva sucursal" widgetVar="dlgNuevaSucursal"
			resizable="false" modal="true" id="dlgNuevaSucursal" closable="false">
	
			<h:form style="disabled:true;" id="formNueva">
	
				<h:panelGrid columns="2" cellpadding="3">
					<h:outputLabel for="name" value="Nombre de Sucursal:" />
					<h:panelGrid columns="2">
						<p:inputText id="name" value="#{sucursalView.nombre}" 
							required="true" requiredMessage="Nombre de sucursal no ingresada" >
							<p:ajax event="blur" update=":formNueva:name"/>
						</p:inputText>
						<p:message for="name" display="icon" />
					</h:panelGrid>
	
					<h:outputLabel for="tel" value="Teléfono:" />
					<p:inputText id="tel" value="#{sucursalView.telefono}"
						required="false" />
	
					<h:outputLabel for="calle" value="Calle:" />
					<h:panelGrid columns="2">
						<p:inputText id="calle" value="#{sucursalView.calle}"
							required="true" requiredMessage="Calle no ingresada"> 
							<p:ajax event="blur" update=":formNueva:calle"/>
						</p:inputText>
						<p:message for="calle" display="icon"/>
					</h:panelGrid>
	
					<h:outputLabel for="num" value="Número:" />
					<h:panelGrid columns="2">
						<p:inputMask id="num" value="#{sucursalView.numero}" 
							required="true" requiredMessage="Número no ingresado">
							<p:ajax event="blur" update=":formNueva:num, :formNueva:btnZona"/>
							<f:validateDoubleRange minimum="0.0" />
						</p:inputMask>
						<p:message for="num" display="icon" />
					</h:panelGrid>
					
					<h:outputLabel for="menuProvincia" value="Provincia:" />
					<h:panelGrid columns="2">
						<p:selectOneMenu id="menuProvincia" widgetVar="menuProvincia" value="#{sucursalView.provinciaSeleccionada}"
						style="width:300px;" required="true" requiredMessage="Provincia no seleccionada"
						name="provincias" label="provincia">
							<p:ajax listener="#{sucursalView.filtrarCiudades}" update="menuCiudad" />
							<f:selectItems value="#{sucursalView.provincias}" />
							<p:message for="menuProvincia" display="icon" />
						</p:selectOneMenu>
					</h:panelGrid>
	
					<h:outputLabel for="menuCiudad" value="Ciudad:" />
					<h:panelGrid columns="2">
						<p:selectOneMenu id="menuCiudad" widgetVar="menuCiudad" value="#{sucursalView.ciudadSeleccionada}"
						style="width:300px;" required="true" requiredMessage="Ciudad no seleccionada"
						name="ciudades" label="ciudad">
							<f:selectItem itemLabel="Seleccione una ciudad"
								noSelectionOption="true" itemValue="" />
							<f:selectItems value="#{sucursalView.ciudades}" />
							<p:message for="menuCiudad" display="icon" />
						</p:selectOneMenu>
					</h:panelGrid>
	
					<h:outputLabel for="desc" value="Descripción:" />
					<p:inputTextarea id="desc" value="#{sucursalView.descripcion}"
						required="false" />
						
					<p><p:commandButton value="Zona de Influencia" id="btnZona" action="#{geocodeView.limpiarMarcas}" actionListener="#{sucursalView.setHayDireccion()}" 
						disabled="#{sucursalView.getHayDireccion()}" onclick="geocode();PF('dlgGmap').show();" update=":formGmap" rendered="#{geocodeView.confirmarPto}"> 
					</p:commandButton></p>		
					<p><p:commandButton value="Modificar Zona de Influencia" id="btnModificarZona" disabled="#{geocodeView.confirmarPto}"
						onclick="PF('dlgGmap').show();" action="#{geocodeView.modificarPtos}"> 
					</p:commandButton></p>
				</h:panelGrid>
				
				<h:panelGrid id="pnlBotonesNueva" columns="2" cellpadding="3">
					<p:commandButton value="Guardar" id="btnGuardar"
						icon="ui-icon-disk"	action="#{sucursalView.save}"
						styleClass="ui-priority-primary" rendered="#{geocodeView.hayZona}"
						update=":form:msgs , :formNueva, :form:eventsDT">
					</p:commandButton>
					<p:commandButton value="Cancelar" icon="ui-icon-close"
						oncomplete="PF('dlgNuevaSucursal').hide();" process="@this">
						<p:resetInput target=":formNueva , :dlgGmap" />
					</p:commandButton>
				</h:panelGrid>
			</h:form>
		</p:dialog>
	
		<p:dialog header="Modificar Sucursal" widgetVar="dlgModificarSucursal"
			resizable="false" modal="true" id="dlgModificarSucursal" closable="false">
			<h:form style="disabled:true;" id="formModificar">
				<h:panelGrid columns="2" cellpadding="5">
	
					<h:outputLabel for="name" value="Nombre de sucursal:" />
					<h:panelGrid columns="2">
						<p:inputText id="name" value="#{sucursalView.nombre}"
							required="true" requiredMessage="Nombre de sucursal no ingresada" />
						<p:message for="name" display="icon" />
					</h:panelGrid>
	
					<h:outputLabel for="tel" value="Teléfono:" />
					<h:panelGrid columns="2">
						<p:inputText id="tel" value="#{sucursalView.telefono}"
							required="false" requiredMessage="Teléfono no ingresado" />
						<p:message for="tel" display="icon" />
					</h:panelGrid>
	
					<h:outputLabel for="calleMod" value="Calle:" />
					<h:panelGrid columns="2">
						<p:inputText id="calleMod" value="#{sucursalView.calle}"
							required="true" requiredMessage="Calle no ingresada" />
						<p:message for="calleMod" display="icon" />
					</h:panelGrid>
	
					<h:outputLabel for="num" value="Número:" />
					<h:panelGrid columns="2">
						<p:inputText id="numero" value="#{sucursalView.numero}"
							required="true" requiredMessage="Número no ingresado" />
						<p:message for="tel" display="icon" />
					</h:panelGrid>
					
					<h:outputLabel for="menuModProvincia" value="Provincia:" />
					<h:panelGrid columns="2">
						<p:selectOneMenu id="menuModProvincia" style="width:300px;" required="true"
						requiredMessage="Provincia no seleccionada" value="#{sucursalView.provinciaSeleccionada}"
						name="provincias" label="Provincia">
						<p:ajax listener="#{sucursalView.filtrarCiudades}" update="menuModCiudad" />
							<f:selectItems value="#{sucursalView.provincias}" />
						</p:selectOneMenu>
						<p:message for="menuModProvincia" display="icon" />
					</h:panelGrid>
	
					<h:outputLabel for="menuModCiudad" value="Ciudad:" />
					<h:panelGrid columns="2">
						<p:selectOneMenu id="menuModCiudad" style="width:300px;" required="true"
						requiredMessage="Ciudad no seleccionada" value="#{sucursalView.ciudadSeleccionada}"
						name="ciudades" label="Ciudad">
							<f:selectItems value="#{sucursalView.ciudades}" />
						</p:selectOneMenu>
						<p:message for="menuModCiudad" display="icon" />
					</h:panelGrid>
	
				<h:outputLabel for="desc" value="Descripción:" />
				<p:inputTextarea id="desc" value="#{sucursalView.descripcion}"
					required="false" />
	
				<h:outputLabel id="estado" value="Estado:" />
				<p:selectBooleanButton offLabel="Deshabilitada" onLabel="Habilitada"
					value="#{sucursalView.esHabilitada}">
				</p:selectBooleanButton>
	
				<h:panelGrid id="panelBotones" columns="2">
					<p:commandButton value="Guardar" id="btnGuardarModificacion"
					icon="ui-icon-disk" actionListener="#{sucursalView.updateSucursal}"
					update=":form:msgs , :formModificar , :form:eventsDT :dlgVerificacionModificacion" >
					</p:commandButton>	
					<p:commandButton value="Cancelar" icon="ui-icon-close"
							process="@this" oncomplete="PF('dlgModificarSucursal').hide()">
							<p:resetInput target=":formModificar" />
					</p:commandButton>		
				</h:panelGrid>
				</h:panelGrid>
			</h:form>
		</p:dialog>
			<p:dialog header="Pedidos afectados a la acción solicitada"
			widgetVar="dlgVerificacionModificacion" resizable="false" modal="true"
			id="dlgVerificacionModificacion" closable="false">
			<h:form style="disabled:true;" id="formVerificaciónModificacion">
	
				<p:dataTable class="dataTabla" id="modificacionDT" var="pedido"
					value="#{sucursalView.pedidosAfectados}" rowKey="#{pedido.id}"
					sortBy="#{pedido.id}" paginator="true" rows="12" 
					paginatorPosition="bottom" paginatorAlwaysVisible="false">
					<f:facet name="header">
	            				Pedidos asociados al producto que intenta modificar.
	        		</f:facet>
					<p:column headerText="Nº del pedido" id="nroDT">
						<h:outputText value="#{pedido.id}" />
					</p:column>
					<p:column headerText="Fecha" id="fechaDT">
						<h:outputText value="#{pedido.fechaPedido}" />
					</p:column>
					<p:column headerText="Hora" id="horaDT">
						<h:outputText value="#{pedido.horaPedido}" />
					</p:column>
					<p:column headerText="Sucursal" id="sucursalDT">
						<h:outputText value="#{pedido.sucursal.nombre}" />
					</p:column>
					<p:column headerText="Total" id="totalDT">
						<h:outputText value="#{pedido.total}" />
					</p:column>
	
				</p:dataTable>
	
				<h:panelGrid id="panelBotones" columns="2">
					<p:commandButton value="Confirmar Modificación" id="btnConfirmar"
						icon="ui-icon-check"
						actionListener="#{sucursalView.update}"
						update=":form:msgs , :form:eventsDT"
						oncomplete="PF('dlgVerificacionModificacion').hide()">
					</p:commandButton>
					<p:commandButton value="Cancelar" icon="ui-icon-close"
						process="@this"
						oncomplete="PF('dlgVerificacionModificacion').hide()">
					</p:commandButton>
				</h:panelGrid>
			</h:form>
		</p:dialog>
		<p:dialog id="dlgGmap" widgetVar="dlgGmap" width="625" height="500"
			modal="true">
			<h:form id="formGmap">
				<h:panelGrid id="pnlBotonesGmap">
					<p:commandButton id="btnAgregarPtoInfluencia" value="Agregar Punto de Influencia" action="#{geocodeView.agregarPunto}"
						update="geoGmap , pnlBotonesGmap , :form:msgs" disabled="#{geocodeView.confirmarPto}" >
					</p:commandButton>
					<p:commandButton id="btnConfirmarPtoInfluencia" value="Confirmar Punto de Influencia" action="#{geocodeView.confirmarPunto}"
						update="geoGmap , pnlBotonesGmap , :form:msgs , formNueva , dlgModificarSucursal"  oncomplete="PF('dlgGmap').hide();" disabled="#{geocodeView.agregarPto}">
					</p:commandButton>
					<p:commandButton id="btnBorrarPtoInfluencia" value="Reestablecer Puntos de Influencia" action="#{geocodeView.limpiarMapa}" 
						onclick="geocode();" update="geoGmap , pnlBotonesGmap , :form:msgs" disabled="#{geocodeView.agregarPto}">
					</p:commandButton>
				</h:panelGrid>
				<p:gmap id="geoGmap" widgetVar="geoMap"
					center="#{geocodeView.centerGeoMap}" zoom="15" type="ROADMAP"
					model="#{geocodeView.geoModel}" style="width:100%;height:400px">
					<p:ajax event="geocode" listener="#{geocodeView.onGeocode}"
						update="@this" />
					<p:ajax event="pointSelect" listener="#{geocodeView.onPointSelect}" disabled="#{geocodeView.agregarPto}"
						update="@this , :form:msgs, geoGmap" />
					<p:ajax event="markerDrag" listener="#{geocodeView.onMarkerDrag}" disabled="#{geocodeView.agregarPto}" 
						update="@this , geoGmap, :form:msgs"/>
					<p:ajax event="overlaySelect" listener="#{geocodeView.poligonoSeleccionado}" update=":form:msgs" />
				</p:gmap>
			</h:form>
		</p:dialog>
		</div>
		</div>
		</div>
	
	</h:body>
</html>