<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:jsf="http://xmlns.jcp.org/jsf"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets">
<h:head>
	<title>Hermes</title>
	<meta charset="utf-8"></meta>
	<!-- Custom Fonts -->
    <link href="../../resources/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
</h:head>
<h:body>
	
	<h:outputStylesheet library="css" name="hermes.css" target="head" />
	<h:outputStylesheet library="css" name="bootstrap.min.css" target="head" />
	<h:outputStylesheet library="css" name="sb-admin.css" target="head" />
	
	<div id="wrapper">
	
	
	<ui:include src="../../plantillas/cabecera.xhtml" />
	
	 <div id="page-wrapper">

            <div class="container-fluid">

		<h:form id="formTipoProducto" class="formTipoProducto">
			<p:growl id="msgs" showDetail="true" globalOnly="true" />
			<h:panelGrid id="panelBotones" class="panelBotones" columns="3">
				<p:commandButton oncomplete="PF('dlgNuevoTipoProducto').show();"
					action="#{productView.vaciarCampos}" id="btnNuevo" value="Nuevo"
					icon="ui-icon-plus" update=":dlgNuevoTipoProducto">
				</p:commandButton>

				<p:commandButton oncomplete="PF('dlgModificarTipoProducto').show();"
					id="btnModificar" value="Modificar" icon="ui-icon-pencil"
					disabled="#{productView.noHaySeleccionado}"
					action="#{productView.modificarTipoProducto}"
					update=":dlgModificarTipoProducto">
				</p:commandButton>

				<p:commandButton id="btnCambiarEstado" value="Cambiar Estado"
					icon="ui-icon-close" disabled="#{productView.noHaySeleccionado}"
					actionListener="#{productView.verificarDeshabilitacionTP}"
					update=":formTipoProducto:msgs , :formTipoProducto:eventsDT , :dlgVerificacionDeshabilitacion , :formTipoProducto:panelBotones">
				</p:commandButton>
			</h:panelGrid>
				<p:dataTable class="dataTabla" id="eventsDT" var="tipoProducto" value="#{productView.tipoProductos}" 
					selectionMode="single" selection="#{productView.tipoProductoSeleccionado}"
					rowKey="#{tipoProducto.nombre}" sortBy="#{tipoProducto.nombre}" paginator="true" 
					rows="12" paginatorPosition="bottom" paginatorAlwaysVisible="false"
					rowStyleClass="#{tipoProducto.habilitado ? 'habilitado' : 'deshabilitado'}">
					<f:facet name="header">
            				Listado de tipos de producto
        				</f:facet>

					<p:ajax event="rowDblselect"
						listener="#{productView.rowDblSelectTipoProducto}"
						update=":dlgModificarTipoProducto" />
					<p:ajax event="rowSelect" listener="#{productView.onRowSelect}"
						update=":formTipoProducto:panelBotones" />
					<!-- 						<p:ajax event="rowUnselect" listener="#{productView.onRowUnselect}" -->
					<!-- 							update=":form:msgs" /> -->
					<p:column headerText="Nombre de tipo de producto" id="nombreDT"
						sortBy="#{tipoProducto.nombre}">
						<h:outputText value="#{tipoProducto.nombre}" />
					</p:column>
					<p:column headerText="Descripción" id="descripcionDT">
						<h:outputText value="#{tipoProducto.descripcion}" />
					</p:column>
					<p:outputLabel value="Estado" />
					<p:column headerText="Estado" id="estadoDT">
						<h:outputText value="#{tipoProducto.habilitado ? 'Habilitado': 'Deshabilitado'}" />
					</p:column>
				</p:dataTable>

		</h:form>

	<p:dialog header="Nuevo tipo producto" widgetVar="dlgNuevoTipoProducto"
		resizable="false" modal="true" id="dlgNuevoTipoProducto"
		closable="false">
		<h:form style="disabled:true;" id="formNuevo">

			<h:panelGrid columns="2" cellpadding="3">
				<h:outputLabel for="name" value="Nombre:" />
				<h:panelGrid columns="2">
					<p:inputText id="name" value="#{productView.nombreTipoProducto}"
						required="true"
						requiredMessage="Nombre de tipo de producto no ingresado"
						label="Tipo producto" />
					<p:message for="name" display="icon" />
				</h:panelGrid>

				<p:outputLabel for="descripcion" value="Descripción:" />
				<p:inputTextarea id="descripcion"
					value="#{productView.descripcionTipoProducto}" required="false" />

				<p:outputLabel value="Estado" />
				<p:selectBooleanButton id="estado"
					value="#{productView.estadoTipoProducto}" offLabel="Deshabilitado"
					onLabel="Habilitado" required="true" />

				<p:commandButton value="Guardar" id="btnGuardar" icon="ui-icon-disk"
					action="#{productView.saveTipoProducto}"
					styleClass="ui-priority-primary"
					update=":formTipoProducto:msgs , :formNuevo , :formTipoProducto">
				</p:commandButton>
				<p:commandButton value="Cancelar" icon="ui-icon-close"
					process="@this" oncomplete="PF('dlgNuevoTipoProducto').hide()">
					<p:resetInput target=":formNuevo" />
				</p:commandButton>
			</h:panelGrid>
		</h:form>
	</p:dialog>
	<p:dialog header="Modificar tipo producto"
		widgetVar="dlgModificarTipoProducto" resizable="false" modal="true"
		id="dlgModificarTipoProducto" closable="false">
		<h:form style="disabled:true;" id="formModificar">

			<h:panelGrid columns="2" cellpadding="3">
				<p:outputLabel for="name" value="Nombre de tipo de producto:" />
				<h:panelGrid columns="2">
					<p:inputText id="name" value="#{productView.nombreTipoProducto}"
						required="true"
						requiredMessage="Nombre de tipo de producto no ingresado" />
					<p:message for="name" display="icon" />
				</h:panelGrid>

				<p:outputLabel for="descripcion" value="Descripción:" />
				<p:inputTextarea id="descripcion"
					value="#{productView.descripcionTipoProducto}" required="false" />
				
				<p:outputLabel value="Estado" />	
				<p:selectBooleanButton id="estado" 
					value="#{productView.estadoTipoProducto}" offLabel="Deshabilitado"
					onLabel="Habilitado" required="true" />
					
				<h:panelGrid id="panelBotones" columns="2">
					<p:commandButton value="Guardar" id="btnGuardarModificacion"
						icon="ui-icon-disk" actionListener="#{productView.validarModificacionTipoProducto}"
						update=":formTipoProducto:msgs , :formModificar , :formTipoProducto:eventsDT, :dlgVerificacionModificacion" >
					</p:commandButton>
					<p:commandButton value="Cancelar" icon="ui-icon-close"
						process="@this" oncomplete="PF('dlgModificarTipoProducto').hide()">
						<p:resetInput target=":formModificar" />
					</p:commandButton>
				</h:panelGrid>
			</h:panelGrid>
		</h:form>
	</p:dialog>
	
	<p:dialog header="Productos afectados a la acción solicitada"
		widgetVar="dlgVerificacionDeshabilitacion" resizable="false" modal="true"
		id="dlgVerificacionDeshabilitacion" closable="false">
		<h:form style="disabled:true;" id="formVerificación">

			<p:dataTable class="dataTabla" id="verificacionDT" var="producto"
					value="#{productView.productosAfectados}" 					
					rowKey="#{producto.nombre}" sortBy="#{producto.nombre}" 
					paginator="true" rows="12" paginatorPosition="bottom" paginatorAlwaysVisible="false">
					<f:facet name="header">
            				Productos asociados al tipo de producto que intenta deshabilitar.
        				</f:facet>
					<p:column headerText="Nombre de producto" id="nombreDT">
						<h:outputText value="#{producto.nombre}" />
					</p:column>
					<p:outputLabel value="Estado" />
					<p:column headerText="Estado" id="estadoDT">
						<h:outputText value="#{producto.habilitado ? 'Habilitado': 'Deshabilitado'}" />
					</p:column>

				</p:dataTable>
					
				<h:panelGrid id="panelBotones" columns="2">
					<p:commandButton value="Confirmar Deshabilitación" id="btnConfirmar"
						icon="ui-icon-check" actionListener="#{productView.cambiarEstadoTipoProducto}"
						update=":formTipoProducto:msgs , :formTipoProducto:eventsDT" 
						oncomplete="PF('dlgVerificacionDeshabilitacion').hide()" >
					</p:commandButton>
					<p:commandButton value="Cancelar" icon="ui-icon-close"
						process="@this" oncomplete="PF('dlgVerificacionDeshabilitacion').hide()">
					</p:commandButton>
				</h:panelGrid>
		</h:form>
	</p:dialog>
	<p:dialog header="Productos afectados a la acción solicitada"
		widgetVar="dlgVerificacionModificacion" resizable="false" modal="true"
		id="dlgVerificacionModificacion" closable="false">
		<h:form style="disabled:true;" id="formVerificaciónModificacion">

			<p:dataTable class="dataTabla" id="modificacionDT" var="producto"
					value="#{productView.productosAfectados}" rowKey="#{producto.nombre}" 
					sortBy="#{producto.nombre}" paginator="true" rows="12" 
					paginatorPosition="bottom" paginatorAlwaysVisible="false">
					<f:facet name="header">
            				Productos asociados al tipo de producto que intenta modificar.
        				</f:facet>
					<p:column headerText="Nombre de producto" id="nombreDT">
						<h:outputText value="#{producto.nombre}" />
					</p:column>
					<p:outputLabel value="Estado" />
					<p:column headerText="Estado" id="estadoDT">
						<h:outputText value="#{producto.habilitado ? 'Habilitado': 'Deshabilitado'}" />
					</p:column>

				</p:dataTable>
					
				<h:panelGrid id="panelBotones" columns="2">
					<p:commandButton value="Confirmar Modificación" id="btnConfirmar"
						icon="ui-icon-check" actionListener="#{productView.updateTipoProducto}"
						update=":formTipoProducto:msgs , :formTipoProducto:eventsDT" 
						oncomplete="PF('dlgVerificacionModificacion').hide()" >
					</p:commandButton>
					<p:commandButton value="Cancelar" icon="ui-icon-close"
						process="@this" oncomplete="PF('dlgVerificacionModificacion').hide()">
					</p:commandButton>
				</h:panelGrid>
		</h:form>
	</p:dialog>
	</div>
	</div>
	</div>
</h:body>
</html>