<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:jsf="http://xmlns.jcp.org/jsf"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets">
<h:head>
	<title>Hermes</title>
	<meta charset="utf-8"></meta>
	<!-- Custom Fonts -->
	<link href="../../resources/font-awesome/css/font-awesome.min.css"
		rel="stylesheet" type="text/css" />
</h:head>
<h:body>

	<h:outputStylesheet library="css" name="hermes.css" target="head" />
	<h:outputStylesheet library="css" name="bootstrap.min.css"
		target="head" />
	<h:outputStylesheet library="css" name="sb-admin.css" target="head" />

	<div id="wrapper">


		<ui:include src="../../plantillas/cabecera.xhtml" />

		<div id="page-wrapper">

			<div class="container-fluid">

				<h:form id="formUsuarios" class="formUsuarios">
					<!-- 		<p:outputPanel id="panelTabla" autoUpdate="true"> -->

					<p:growl id="growl" showDetail="true" globalOnly="true" />
					<h:panelGrid class="panelBotones" id="panelBotones" columns="3">
						<p:commandButton id="btnNuevo" value="Nuevo" icon="ui-icon-plus"
							oncomplete="PF('dlgNuevo').show();" update=":dlgNuevo"
							action="#{userView.borrarVista}"></p:commandButton>

						<p:commandButton id="btnModificar" value="Modificar"
							icon="ui-icon-pencil" oncomplete="PF('dlgModificar').show();"
							update=":dlgModificar" action="#{userView.modificarUsuario}"
							disabled="#{userView.noHayUsuarioSeleccionado}"></p:commandButton>

						<p:commandButton id="btnCambiarEstado" value="Estado"
							icon="ui-icon-close" actionListener="#{userView.cambiarEstado}"
							disabled="#{userView.noHayUsuarioSeleccionado}"
							update=":formUsuarios:growl , :formUsuarios , :formUsuarios:panelBotones">
						</p:commandButton>

					</h:panelGrid>

					<p:dataTable class="dataTabla" id="tblUsuarios" var="user"
						value="#{userView.usuarios}" selectionMode="single"
						selection="#{userView.usuarioSeleccionado}"
						rowKey="#{user.usuario}" paginator="true" rows="12"
						paginatorPosition="bottom" paginatorAlwaysVisible="false"
						sortBy="#{user.usuario}"
						filteredValue="#{userView.filtroUsuarios}"
						emptyMessage="No se encontraron usuarios con el criterio especificado."
						rowStyleClass="#{user.habilitado ? 'habilitado' : 'deshabilitado'}"
						widgetVar="tablaUsuario">
						<f:facet name="header">
            		Listado de usuarios
        		</f:facet>

						<p:ajax event="rowSelect" listener="#{userView.onRowSelect}"
							update=":formUsuarios:panelBotones" />
						<p:ajax event="rowUnselect" listener="#{userView.onRowUnselect}"
							update=":formUsuarios:panelBotones" />
						<p:ajax event="rowDblselect"
							listener="#{userView.eventoDobleClick}" update=":dlgModificar" />

						<p:column headerText="Usuario" id="nombreDT"
							sortBy="#{user.usuario}" filterBy="#{user.usuario}"
							filterMatchMode="contains">
							<h:outputText value="#{user.usuario}" />
						</p:column>

						<p:column headerText="Rol" id="rolDT" filterBy="#{user.rol.nombre}" filterMatchMode="exact">
							<f:facet name="filter">
								<p:selectOneMenu onchange="PF('tablaUsuario').filter()">
									<f:selectItem itemLabel="Todos" itemValue="" />
									<f:selectItems value="#{userView.roles}" />
								</p:selectOneMenu>
							</f:facet>
							<h:outputText value="#{user.rol.nombre}" />
						</p:column>

						<p:column headerText="Sucursal" id="sucursalDT"
							sortBy="#{user.sucursal.nombre}"
							filterBy="#{user.sucursal.nombre}" filterMatchMode="exact">
							<f:facet name="filter">
								<p:selectOneMenu onchange="PF('tablaUsuario').filter()">
									<f:selectItem itemLabel="Todos" itemValue="" />
									<f:selectItems value="#{userView.sucursales}" />
								</p:selectOneMenu>
							</f:facet>
							<h:outputText value="#{user.sucursal.nombre}" />
						</p:column>
						
						<p:column headerText="E-Mail" id="mailDT">
							<h:outputText value="#{user.mail}"/>
						</p:column>
						<p:column headerText="Estado" id="estadoDT"
							filterBy="#{user.habilitado}" filterMatchMode="equals"
							priority="5">
							<f:facet name="filter">
								<p:selectOneButton onchange="PF('tablaUsuario').filter()">
									<f:converter converterId="javax.faces.Boolean" />
									<f:selectItem itemLabel="T" itemValue="" />
									<f:selectItem itemLabel="H" itemValue="true" />
									<f:selectItem itemLabel="D" itemValue="false" />
								</p:selectOneButton>
							</f:facet>
							<h:outputText
								value="#{user.habilitado ? 'Habilitado': 'Deshabilitado'}" />
						</p:column>

					</p:dataTable>
					<!-- 		</p:outputPanel> -->

				</h:form>

				<p:dialog id="dlgNuevo" header="Nuevo usuario" widgetVar="dlgNuevo"
					resizable="false" modal="true" closable="false" draggable="false">
					<h:form id="formNuevo">
						<h:panelGrid columns="2" cellpadding="5">
							<h:outputLabel for="name" value="Nombre de usuario:" />
							<h:panelGrid columns="2">
								<p:inputText id="name" value="#{userView.nombreUsuario}"
									required="true"
									requiredMessage="Nombre de usuario no ingresado" />
								<p:message for="name" display="icon" />
							</h:panelGrid>

							<p:outputLabel for="password" value="Contraseña:" />
							<h:panelGrid columns="2">
								<p:password id="password" value="#{userView.password}"
									required="true" requiredMessage="Contraseña no ingresada" />
								<p:message for="password" display="icon" />
							</h:panelGrid>

							<p:outputLabel for="password2" value="Repetir contraseña:" />
							<h:panelGrid columns="2">
								<p:password id="password2" value="#{userView.password2}"
									required="true"
									requiredMessage="Es necesario repetir contraseña" />
								<p:message for="password2" display="icon" />
							</h:panelGrid>

							<h:outputLabel for="menuRoles" value="Rol:" />
							<h:panelGrid columns="2">
								<p:selectOneMenu id="menuRoles" value="#{userView.rolSeleccionado}"
									label="Roles" style="width:300px" required="true"
									requiredMessage="Rol no seleccionado.">
									<f:selectItem itemLabel="Seleccione un Rol" itemValue=""
										noSelectionOption="true" />
									<p:ajax listener="#{userView.esAdmin}" update="menuSucursales" />
									<f:selectItems value="#{userView.roles}" />
								</p:selectOneMenu>
							</h:panelGrid>

							<h:outputLabel for="menuSucursales" value="Sucursal:" />
							<h:panelGrid columns="2">
								<p:selectOneMenu id="menuSucursales"
									disabled="#{userView.esAdmin}"
									value="#{userView.sucursalSeleccionada}" style="width:300px"
									label="Sucursales">
									<f:selectItem itemLabel="#{userView.lblSucursal}" itemValue=""
										noSelectionOption="true" />
									<f:selectItems value="#{userView.sucursales}" />
								</p:selectOneMenu>
								<p:message for="menuSucursales" display="icon" />
							</h:panelGrid>
							
							<p:outputLabel value="E-Mail"/>
							<h:panelGrid id="panelMail" columns="2">
								<p:inputText id="mail" value="#{userView.mail}" 
									required="true" requiredMessage="E-Mail no ingresado."/>
								<p:message for="mail" display="icon"/>
							</h:panelGrid>
														
							<p:outputLabel value="Estado" />
							<p:selectBooleanButton id="estado" value="#{userView.estado}"
								offLabel="Deshabilitado" onLabel="Habilitado" required="true" />

						</h:panelGrid>

						<h:panelGrid id="panelBotones" columns="2">
							<p:commandButton value="Guardar" id="btnGuardar"
								icon="ui-icon-disk" actionListener="#{userView.save}"
								update=":formNuevo, :formUsuarios:growl , :formUsuarios:tblUsuarios" />
							<p:commandButton value="Cancelar" id="btnCancelar"
								icon="ui-icon-close" oncomplete="PF('dlgNuevo').hide();"
								styleClass="ui-priority-primary" process="@this">
								<p:resetInput target=":formNuevo" />
							</p:commandButton>
						</h:panelGrid>
					</h:form>
				</p:dialog>

				<p:dialog id="dlgModificar" header="Modificar usuario"
					widgetVar="dlgModificar" resizable="false" modal="true"
					closable="false" draggable="false">
					<h:form id="formModificar">

						<h:panelGrid columns="2">
							<h:outputLabel for="name" value="Nombre usuario: " />
							<h:panelGrid id="panelNombreUsuario" columns="2">
								<p:inputText id="name" value="#{userView.nombreUsuario}"
									required="true"
									requiredMessage="Nombre de usuario no ingresado" />
								<p:message for="name" display="icon" />
							</h:panelGrid>

							<h:outputLabel for="menuRoles" value="Rol:" />
							<h:panelGrid columns="2">
								<p:selectOneMenu id="menuRoles"	value="#{userView.rolSeleccionado}"
									style="width:300px"
									required="true" label="Roles"
									requiredMessage="Rol no seleccionado.">
									<p:ajax listener="#{userView.esAdmin}" update="menuSucursales" />
									<f:selectItems value="#{userView.roles}" />
								</p:selectOneMenu>
								<p:message for="menuRoles" display="icon" />
							</h:panelGrid>

							<h:outputLabel for="menuSucursales" value="Sucursales:" />
							<h:panelGrid id="panelSucursales" columns="2">
								<p:selectOneMenu id="menuSucursales" disabled="#{userView.esAdmin}"
									value="#{userView.sucursalSeleccionada}" style="width:300px"
									name="Sucursales" label="Sucursal">
									<f:selectItem itemLabel="#{userView.lblSucursal}" itemValue=""
										noSelectionOption="true" />
									<f:selectItems value="#{userView.sucursales}" />
								</p:selectOneMenu>
								<p:message for="menuSucursales" display="icon" />
							</h:panelGrid>
							
							<p:outputLabel value="E-Mail"/>
							<h:panelGrid id="panelMail" columns="2">
								<p:inputText id="mail" value="#{userView.mail}" 
								required="true" requiredMessage="E-Mail no ingresado."/>
								<p:message for="mail" display="icon"/>
							</h:panelGrid>
							<p:outputLabel value="Estado" />
							<p:selectBooleanButton id="estado" value="#{userView.estado}"
								offLabel="Deshabilitado" onLabel="Habilitado" required="true" />

							<h:panelGrid id="panelBotones" columns="2">
								<p:commandButton value="Guardar" id="btnGuardar"
									icon="ui-icon-disk" actionListener="#{userView.update}"
									update=":formUsuarios , :formModificar , :formUsuarios:growl">
								</p:commandButton>
								<p:commandButton value="Cancelar" id="btnCancelar"
									oncomplete="PF('dlgModificar').hide();" icon="ui-icon-close"
									styleClass="ui-priority-primary" process="@this">
									<p:resetInput target=":formModificar" />
								</p:commandButton>
							</h:panelGrid>
						</h:panelGrid>
					</h:form>
				</p:dialog>

			</div>
		</div>
	</div>

</h:body>
</html>
