<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:jsf="http://xmlns.jcp.org/jsf"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets">

	<!-- Navigation -->
	<div id="cabecera">
		<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse"
					data-target=".navbar-ex1-collapse">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="../../index.xhtml">Hermes</a>
			</div>

			<!-- Top Menu Items -->
			<form id="log" action="${request.contextPath}/appLogout"
				method="POST">
				<ul class="nav navbar-right top-nav">
					<li id="user" class="dropdown"><a href="#" class="dropdown-toggle logOut"
						data-toggle="dropdown"><i class="fa fa-user"></i> <p:outputLabel
								value="#{userLoginView.getUserLogged()}" /> <b class="caret"></b></a>
						<ul id="detailUser" class="dropdown-menu">
								<li onclick="log.submit();"><i class="fa fa-fw fa-power-off"></i> Log
									Out</li>
						</ul>
					</li>
				</ul>
			</form>
			<!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
			<div class="collapse navbar-collapse navbar-ex1-collapse">
				<ul class="nav navbar-nav side-nav">
					<ui:fragment
						rendered="#{userLoginView.isRolOfUserLogged('Administrador')}">
						<li id="desplegableProductos"><a href="javascript:;"
							data-toggle="collapse" data-target="#prod-tipoProd"> <i
								class="fa fa-fw fa-lemon-o"></i> Productos <i
								class="fa fa-fw fa-caret-down"></i></a>
							<ul id="prod-tipoProd" class="collapse">
								<li><a href="../admin/producto.xhtml"> Productos </a></li>
								<li><a href="../admin/tipoProducto.xhtml">Tipo de
										Productos</a></li>
							</ul></li>
					</ui:fragment>
					<ui:fragment
						rendered="#{userLoginView.isRolsOfUserLogged('Administrador', 'Cocinero')}">
						<li><a href="../cocina/cocina.xhtml"><i
								class="fa fa-fw fa-fire"></i> Cocina</a></li>
					</ui:fragment>
					<ui:fragment
						rendered="#{userLoginView.isRolOfUserLogged('Administrador')}">
						<li id="desplegablePedidos"><a href="javascript:;"
							data-toggle="collapse" data-target="#demo"><i
								class="fa fa-fw fa-cutlery"></i> Pedidos <i
								class="fa fa-fw fa-caret-down"></i></a>
							<ul id="demo" class="collapse">
								<li><a href="../atencionCliente/pedidosActuales.xhtml">Pedidos
										actuales</a></li>
								<li><a href="../admin/pedidosHistoricos.xhtml">Pedidos
										históricos</a></li>
							</ul></li>
					</ui:fragment>
<!-- 					<ui:fragment -->
<!-- 						rendered="#{userLoginView.isRolOfUserLogged('Encargado de Atención al Cliente')}"> -->
<!-- 						<li><a href="../atencionCliente/registrarPedido.xhtml">Registrar Pedido</a></li> -->
<!-- 					</ui:fragment> -->
					<ui:fragment
						rendered="#{userLoginView.isRolOfUserLogged('Encargado de Atención al Cliente', 'Administrador')}">
						<li><a href="../atencionCliente/pedidosActuales.xhtml">Pedidos
								actuales</a></li>
					</ui:fragment>
					<ui:fragment
						rendered="#{userLoginView.isRolOfUserLogged('Administrador')}">
						<li><a href="../admin/usuarios.xhtml"><i
								class="fa fa-fw fa-users"></i> Usuarios</a></li>
					</ui:fragment>
					<ui:fragment
						rendered="#{userLoginView.isRolOfUserLogged('Administrador')}">
						<li><a href="../admin/sucursales.xhtml"><i
								class="fa fa-fw fa-home"></i> Sucursales</a></li>
					</ui:fragment>
				</ul>
			</div>
			<!-- /.navbar-collapse -->
		</nav>
	</div>

	<p:dialog id="dlgReestablecioPassword"
		widgetVar="dlgReestablecioPassword" header="Reestablezca su Password"
		resizable="false" modal="true" closable="false">
		<h:form id="formReestablecerPass">
			<h:outputLabel
				value="Se solicitó reestablecer Usuario/Password desde ésta cuenta, por favor ingrese a continuación una nueva pasword y valide la misma." />
			<h:panelGrid id="panelReestablecesPass" columns="2">
				<h:outputLabel value="Usuario:" />
				<h:outputLabel value="#{userLoginView.nombreUsuario}" />
				<h:outputLabel for="nuevaPassword" value="Password Nueva:" />
				<h:panelGrid columns="2">
					<p:inputText id="nuevaPassword"
						value="#{userLoginView.nvaPassword}" type="password"
						required="true" requiredMessage="No validó la una nueva password." />
					<p:message for="nuevaPassword" display="icon" />
				</h:panelGrid>
				<h:outputLabel for="validarPassword" value="Validar Password Nueva:" />
				<h:panelGrid columns="2">
					<p:inputText id="validarPassword"
						value="#{userLoginView.validarPassword}" type="password"
						required="true" requiredMessage="No validó la una nueva password." />
					<p:message for="validarPassword" display="icon" />
				</h:panelGrid>
			</h:panelGrid>
			<h:panelGrid id="panelBtn" columns="2">
				<p:commandButton id="btnReestablecer" value="Confirmar"
					action="#{userLoginView.guardar}"
					icon="ui-icon-check">
				</p:commandButton>
				<p:commandButton value="Cancelar" icon="ui-icon-close"
					process="@this" oncomplete="PF('dlgReestablecioPassword').hide()">
					<p:resetInput target=":dlgReestablecioPassword" />
				</p:commandButton>
			</h:panelGrid>
		</h:form>
	</p:dialog>
	<script>
		var formulario = $('#log');
		
		$('.logOut').focusout(function(){
			$('#detailUser').slideToggle();
		})
		
		$("#desplegablePedidos").click(function() {
			$("#demo").slideToggle("slow");
		});
		$("#desplegableProductos").click(function() {
			$("#prod-tipoProd").slideToggle("slow");
		});
	</script>
	<script>
		$("#user").click(function() {
			  $("#detailUser").slideToggle();
		});
	</script>
</ui:composition>