<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:jsf="http://xmlns.jcp.org/jsf"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui">
<h:head></h:head>
<h:body>

	<h:form>
 		<p:panel header="" style="margin-bottom:10px;"><!-- Titulo del panel -->
			<h:panelGrid columns="2" cellpadding="5">
				<p:outputLabel for="" value="" /> <!-- Texto al lado del combo. for"" le pones el id del componente al que le pones el texto  -->
				<p:selectOneMenu id="" value="" 
					style="width:150px"> <!-- value = valor devuelto al seleccionar el combo  -->
					<p:ajax listener="" update="" /> <!-- en listener va el metodo que se ejecuta al ocurrir un evento. update lleva el id del componente que se va a actualizar en el xhtml  -->
					<f:selectItem itemLabel="" itemValue=""
						noSelectionOption="true" /> <!-- item label = valor mostrado en el combo al principio  -->
					<f:selectItems value="" /> <!-- value = lista de seect items del controlador valores mostrados en el combo  -->
				</p:selectOneMenu>

				<p:outputLabel for="" value="" />
				<p:selectOneMenu id="" value=""
					style="width:150px">
					<f:selectItem itemLabel="" itemValue=""
						noSelectionOption="true" />
					<f:selectItems value="" />
				</p:selectOneMenu>
			</h:panelGrid>
		</p:panel>

	</h:form>

</h:body>

</html>