<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:jsf="http://xmlns.jcp.org/jsf"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets">		
		<h:form>
		<p:menubar id="menu">
				<p:menuitem value="Home" 
					url="principal.xhtml" icon=" ui-icon-pin-s"/>
				<p:menuitem value="Usuarios" url="usuarios.xhtml" rendered="true" icon="ui-icon-person"/>
				<p:menuitem value="Productos" url="producto.xhtml" icon="ui-icon-star"/>
				<p:menuitem value="Sucursales" url="sucursales.xhtml" icon="ui-icon-home"/>
				<p:menuitem value="Pedidos" url="pedidosActuales.xhtml" icon="ui-icon-cart"/> 
				<p:menuitem value="Reportes" icon="ui-icon-document"
					action="#{controladorAjax.setPage('reportes')}"/>
			<f:facet name="options">
				<p:button type="button" value="Logout" icon="ui-icon-extlink" href="index.xhtml" />
			</f:facet>
		</p:menubar>
		<p:sticky target="menu"></p:sticky>
		</h:form>
</ui:composition>
