<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:jsf="http://xmlns.jcp.org/jsf"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets">		
	
	<p:tabMenu activeIndex="#{param.i}">
		<p:menuitem value="Producto"
			outcome="/producto.xhtml">
			<f:param name="i" value="0" />
		</p:menuitem>
		<p:menuitem value="Tipo de Producto"
			outcome="/tipoProducto.xhtml">
			<f:param name="i" value="1" />
		</p:menuitem>
	</p:tabMenu>
</ui:composition>
