<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:jsf="http://xmlns.jcp.org/jsf"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:pe="http://primefaces.org/ui/extensions">
<h:head>
	<title>Hermes</title>
	<meta charset="utf-8"></meta>
	<!-- Custom Fonts -->
	<link href="../../resources/font-awesome/css/font-awesome.min.css"
		rel="stylesheet" type="text/css" />
</h:head>
<h:body>

	<h:outputStylesheet library="css" name="hermes.css" target="head" />
	<h:outputStylesheet library="css" name="bootstrap.min.css" target="head" />
	<h:outputStylesheet library="css" name="sb-admin.css" target="head" />

	<div id="wrapper">

		<ui:include src="../../plantillas/cabecera.xhtml" />

		<div id="page-wrapper">

			<div class="container-fluid">

				<h:form id="formPedidos" class="formPedidos">
					<p:growl id="msgs" showDetail="true" globalOnly="true" />
					<h:panelGrid class="panelBotones" id="panelBotones" columns="3">
						<p:commandButton id="btnRegCobro" value="Registrar Cobro"
							icon="ui-icon-close" disabled="#{pedidoView.noCobrable}"
							action="#{pedidoView.prepararCobro}"
							update=":formPedidos:msgs , :formPedidos , :formPedidos:panelBotones, :dlgRegistrarCobro">	
						</p:commandButton>
						<p:commandButton id="btnCancelar" value="Cancelar"
							icon="ui-icon-close" disabled="#{pedidoView.noCancelable}"
							action="#{pedidoView.prepararCancelacion}"
							update=":formPedidos:msgs , :dlgCancelarPedido ,:formPedidos:eventsDT , :formPedidos:panelBotones">
    					</p:commandButton>
    					<p:commandButton id="btnVerPedido" value="Ver Pedido"
							disabled="#{pedidoView.noHaySeleccionado}" icon="ui-icon-cart"
							action="#{pedidoView.prepararModificacionDatos}"
							update=":formPedido , :formPedidos">
    					</p:commandButton>
					</h:panelGrid>
					<p:dataTable class="dataTabla" id="eventsDT" var="viewOrders"
						widgetVar="tablaPedidos" value="#{pedidoView.pedidosActuales}"
						selectionMode="single"
						selection="#{pedidoView.pedidoActualSeleccionado}"
						rowKey="#{viewOrders.id}" sortBy="#{viewOrders.id}"
						paginator="true" rows="10" paginatorPosition="bottom"
						paginatorAlwaysVisible="false"
						emptyMessage="No hay pedidos actuales por el momento"
						filteredValue="#{pedidoView.filtroPedidosActuales}"
						rowStyleClass="#{viewOrders.estado eq 'En Espera' ? 'en-espera' : 
							viewOrders.estado eq 'Preparado' ? 'preparado' : 
							viewOrders.estado eq 'Cancelado' ? 'cancelado' : 
							viewOrders.estado eq 'En Preparación' ? 'en-preparacion' : 
							viewOrders.estado eq 'Cobrado' ? 'cobrado' :
							null}">

						<f:facet name="header"> 
					Listado de Pedidos Actuales
					</f:facet>

						<p:ajax event="rowSelect"
							listener="#{pedidoView.onRowSelectActual}"
							update=":formPedidos:panelBotones" />
						<p:ajax event="rowDblselect"
							listener="#{pedidoView.rowDblSelectActual}"
							update=":dlgMostrarPedido" />

						<p:column headerText="Pedido" id="numDT" sortBy="#{viewOrders.id}"
							filterBy="#{viewOrders.id}" filterMatchMode="startsWith"
							priority="5" style="width: 10%">
							<h:outputText value="#{viewOrders.id}" />
						</p:column>
						<p:column headerText="Estado"
							filterBy="#{viewOrders.estado.nombre}" filterMatchMode="exact"
							sortBy="#{viewOrders.estado.nombre}" priority="2" style="width: 10%">
							<f:facet name="filter">
								<p:selectOneMenu onchange="PF('tablaPedidos').filter()">
									<f:selectItem itemLabel="Todos" />
									<f:selectItems value="#{pedidoView.estados}" />
								</p:selectOneMenu>
							</f:facet>
							<h:outputText value="#{viewOrders.estado.nombre}" />
						</p:column>
						<p:column headerText="Hora" sortBy="#{viewOrders.horaPedido}"
							style="width: 10%">
							<h:outputText value="#{viewOrders.horaPedido}">
								<f:convertDateTime pattern="H:mm" />
							</h:outputText>
						</p:column>
						<p:column headerText="Total" style="width: 10%"
							sortBy="#{viewOrders.total}">
							<h:outputText value="#{viewOrders.total}" />
						</p:column>
						<p:column headerText="Tipo de Entrega" style="width: 10%"
							sortBy="#{viewOrders.tipoEntrega}">
							<h:outputText value="#{viewOrders.tipoEntrega.nombre}" />
						</p:column>
						<p:column headerText="Tipo de Pago" style="width: 10%"
							sortBy="#{viewOrders.tipoPago.nombre}">
							<h:outputText value="#{viewOrders.tipoPago.nombre}" />
						</p:column>
						<p:column headerText="Comentarios" style="width: 20%"
							sortBy="#{viewOrders.comentarios}">
							<h:outputText value="#{viewOrders.comentarios}" />
						</p:column>
						<p:column rendered="#{pedidoView.isAdmin}" headerText="Sucursal" 
							filterBy="#{viewOrders.sucursal.nombre}" filterMatchMode="exact"
							sortBy="#{viewOrders.sucursal.nombre}" style="width: 12%"
							styleClass="col-lado-boton">
							<f:facet name="filter">
								<p:selectOneMenu onchange="PF('tablaPedidos').filter()">
									<f:selectItem itemLabel="Todas" />
									<f:selectItems value="#{pedidoView.sucursales}" />
								</p:selectOneMenu>
							</f:facet>
							<h:outputText value="#{viewOrders.sucursal.nombre}" />
						</p:column>
						<p:column headerText="Detalles" style="text-align: center;width: 8%" styleClass="col-boton">
							<p:commandButton update=":dlgMostrarDetallePedido , :formDetalle , :formDetalle:detalleDT"
									action="#{pedidoView.obtenerDetallesActuales}"
									oncomplete="PF('dlgMostrarDetallePedido').show()"
									icon="ui-icon-search" title="View">
									<f:setPropertyActionListener value="#{viewOrders}"
										target="#{pedidoView.pedidoActualSeleccionado}" />
							</p:commandButton>
						</p:column>
					</p:dataTable>

				</h:form>
				
				<p:dialog header="Pedido" closeOnEscape="true" width="40%" 
					widgetVar="dlgMostrarPedido" resizable="false" modal="true"
					id="dlgMostrarPedido" closable="false">
					<h:form id="formPedido" class="formPedido">
						<h:panelGrid id="panelBotones" columns="3">
							<p:commandButton id="btnCerrarDetallePedido" value="Cerrar"
								oncomplete="PF('dlgMostrarPedido').hide();" action="#{pedidoView.vaciarCampos}"
								icon="ui-icon-close" update=":formPedidos , :formPedidos:eventsDT">
							</p:commandButton>
							<p:commandButton id="btnModificarDetallePedido" value="Modificar Datos" icon="ui-icon-pencil"  
								disabled="#{pedidoView.noHaySeleccionado}" action="#{pedidoView.validarEstadoModificacion}"
								update=":dlgModificarDatosPedido ,:formModificarDatosPedido ,:dlgValidarModificacionPedido ,:formValidarModificacionPedido">
							</p:commandButton>
							<p:commandButton id="btnCancelar" value="Cancelar Pedido"
								icon="ui-icon-trash" disabled="#{pedidoView.noCancelable}"
								action="#{pedidoView.prepararCancelacion}"
								update=":formPedidos:msgs , :dlgCancelarPedido , :formPedidos:eventsDT , :formPedido:panelBotones">
    						</p:commandButton>
						</h:panelGrid>
						
						<h:panelGrid id="panelDatos" class="tabledialog" columns="2" cellpadding="3">
							<h:outputLabel for="idDatos" value="Pedido: "/>
							<h:outputText id="idDatos" value="#{pedidoView.numeroPedido}" />

							<h:outputLabel for="hsPedidoDatos" value="Hora Pedido: " />
							<h:outputText id="hsPedidoDatos" value="#{pedidoView.hsPedido}">
								<f:convertDateTime pattern="H:mm" />
							</h:outputText>
							
							<h:outputLabel value="Hora Entrega: "/>
							<h:outputText id="hsEntregaDatos" value="#{pedidoView.hsEntrega}">
								<f:convertDateTime pattern="H:mm" />
							</h:outputText>
							
							<h:outputLabel for="estadoDatos" value="Estado: " />
							<h:outputText id="estadoDatos" value="#{pedidoView.estadoNombre}" />
						
							<h:outputLabel for="sucursalDatos" value="Sucursal: " rendered="#{pedidoView.isAdmin}"/>
							<h:outputText id="sucursalDatos" value="#{pedidoView.sucursalSeleccionada}" rendered="#{pedidoView.isAdmin}"/>
						
							<h:outputLabel for="comentariosDatos" value="Comentarios: " />
							<h:outputText id="comentariosDatos" value="#{pedidoView.comentarios}"/>

							<h:outputLabel for="tipoPagoDatos" value="Forma de Pago: " />
							<h:outputText id="tipoPagoDatos" value="#{pedidoView.tipoPago}" />

							<h:outputLabel for="totalDatos" value="Total: " />
							<h:outputText id="totalDatos" value="#{pedidoView.total}" />

							<h:outputLabel for="tipoEntregaDatos" value="Forma de Entrega: " />
							<h:outputText id="tipoEntregaDatos" value="#{pedidoView.tipoEntrega}" />

							<h:outputLabel for="calleDatos" value="Calle: " rendered="#{pedidoView.isEnvio}" />
							<h:outputText id="calleDatos" value="#{pedidoView.calle}" rendered="#{pedidoView.isEnvio}" />

							<h:outputLabel for="numeroDatos" value="Número: " rendered="#{pedidoView.isEnvio}"/>
							<h:outputText id="numeroDatos" value="#{pedidoView.numero}" rendered="#{pedidoView.isEnvio}"/>

							<h:outputLabel for="pisoDatos" value="Piso: " rendered="#{pedidoView.isEnvio}"/>
							<h:outputText id="pisoDatos" value="#{pedidoView.piso}" rendered="#{pedidoView.isEnvio}"/>
						
							<h:outputLabel for="dptoDatos" value="Dpto: " rendered="#{pedidoView.isEnvio}"/>
							<h:outputText id="dptoDatos" value="#{pedidoView.dpto}" rendered="#{pedidoView.isEnvio}"/>
							
							<h:outputLabel for="detalles" value="Detalles: "/>
							<p:commandButton id="detalles" update=":dlgMostrarDetallePedido , :formDetalle"
								action="#{pedidoView.obtenerDetallesActuales}"
								oncomplete="PF('dlgMostrarDetallePedido').show()"
								icon="ui-icon-search" title="View">
							</p:commandButton>
						</h:panelGrid>
						
					</h:form>
				</p:dialog>
				
				<p:dialog header="Detalle de Pedido" closeOnEscape="true"
					widgetVar="dlgMostrarDetallePedido" resizable="false" modal="true"
					id="dlgMostrarDetallePedido" closable="false">

					<h:form id="formDetalle" class="formDetalle">
						<h:panelGrid id="panelBotones" columns="3">
							<p:commandButton id="btnCerrarDetalles" value="Cerrar"
								oncomplete="PF('dlgMostrarDetallePedido').hide();" action="#{pedidoView.vaciarCampos}"
								icon="ui-icon-close" update="">
							</p:commandButton>
							<p:commandButton id="btnModificarDetalle" value="Modificar Elemento" icon="ui-icon-pencil"
								disabled="#{pedidoView.pedidoNoModificable}" action="#{pedidoView.prepararModificacion}"
								update=":dlgModificarDetalle , :dlgValidarModificacion">
							</p:commandButton>
							<p:commandButton id="cancelarDetalle" value="Cancelar" 
								disabled="#{pedidoView.noHaySeleccionadoDetalle}" icon="ui-icon-trash"
								oncomplete="PF('dlgCancelarDetalle').show();"
								update=":dlgCancelarDetalle" >
							</p:commandButton>
						</h:panelGrid>
						<p:dataTable class="dataTabla" id="detalleDT" var="detalle"
							value="#{pedidoView.detalles}"
							selectionMode="single" rowKey="#{detalle.producto.nombre}"
							widgetVar="tablaDetalle" paginator="true"
							paginatorAlwaysVisible="false" rows="7"
							paginatorPosition="bottom"
							emptyMessage="No se encontraron detalles con el criterio especificado."
							filteredValue="#{pedidoView.filtroDetalles}"
							selection="#{pedidoView.detallePedidoSeleccionado}"
							rowStyleClass="#{detalle.estado eq 'En Espera' ? 'en-espera' : 
							detalle.estado eq 'Preparado' ? 'preparado' : 
							detalle.estado eq 'Cancelado' ? 'cancelado' : 
							detalle.estado eq 'En Preparación' ? 'en-preparacion' :
							null}">
							<p:ajax event="rowSelect"
								listener="#{pedidoView.onRowSelectDetalleActual}"
								update=":formDetalle:panelBotones" />
							<p:ajax event="rowDblselect"
								listener="#{pedidoView.rowDblSelectActual}"
								update=":dlgModificarDetalle" />
								
							<p:column headerText="Inicio Preparación" id="hsPreparacionDT" rendered="#{pedidoView.inicioPreparacion}"
								style="width: 10%">
								<h:outputText value="#{detalle.horaComienzoPreparacion}" >
									<f:convertDateTime pattern="H:mm" />
								</h:outputText>
							</p:column>
							<p:column headerText="Fin Preparación" id="hsFinPreparacionDT" rendered="#{pedidoView.finPreparacion}"
								style="width: 9%">
								<h:outputText value="#{detalle.horaFinalPreparacion}" >
									<f:convertDateTime pattern="H:mm" />
								</h:outputText>
							</p:column>
							<p:column headerText="Tipo" id="tipoProductoDT" style="width: 10%">
								<h:outputText value="#{detalle.nombreTipoProducto}" />
							</p:column>
							<p:column headerText="Producto" id="productoDT" style="width: 13%">
								<h:outputText value="#{detalle.nombreProducto}" />
							</p:column>

							<p:column headerText="Estado" id="estadoDT" priority="4" style="width: 10%">
								<h:outputText value="#{detalle.estado}" />
							</p:column>
							<p:column headerText="Cantidad" id="cantidadDT" priority="5"
								style="width: 8%">
								<h:outputText value="#{detalle.cantidad}" />
							</p:column>
							<p:column headerText="Precio" id="precioDT" priority="6" 
								style="width: 8%">
								<h:outputText value="#{detalle.precioProducto}" />
							</p:column>
							<p:column headerText="Subtotal" id="subtotalDT"
								style="width: 8%">
								<h:outputText value="#{detalle.subtotal}" />
							</p:column>
							<p:column headerText="Comentarios" id="comentariosDT" style="text-align: center;width: 24%" styleClass="col-boton">
								<h:outputText value="#{detalle.comentarios}" />
							</p:column>
							<p:columnGroup type="footer">
								<p:row>
									<p:column rendered="#{pedidoView.inicioPreparacion}"/>
									<p:column colspan="5" style="text-align:right"
										footerText="Total:" />
									<p:column colspan="2"
										footerText="#{pedidoView.pedidoActualSeleccionado.total}" />
									<p:column rendered="#{pedidoView.finPreparacion}"/>
								</p:row>
							</p:columnGroup>
						</p:dataTable>

					</h:form>
				
				</p:dialog>
				
				<p:dialog header="Cancelar Pedido" widgetVar="dlgCancelarPedido"
					resizable="false" modal="true" id="dlgCancelarPedido"
					closable="false">

					<h:form id="formCancelarPedido" class="formCancelar">
						<h:outputLabel for="menuMotivoCancelacion"
							value="Motivo de Cancelación" />
						<h:panelGrid columns="2">
							<p:selectOneMenu id="menuMotivoCancelacion"
								value="#{pedidoView.motivosCancelacionSeleccionado}"
								style="width:300px;" required="true"
								requiredMessage="Motivo de cancelación no seleccionado"
								name="motivoCancelacion" label="motivoCancelacion">
								<f:selectItem itemLabel="Seleccione un Motivo de Cancelación" />
								<f:selectItems value="#{pedidoView.motivosCancelacion}" />
								<p:message for="menuMotivoCancelacion" display="icon" />
							</p:selectOneMenu>
						</h:panelGrid>
						
						<h:outputLabel value="Descripción:" />
						<h:panelGrid columns="1">
							<p:inputTextarea id="descrip" value="#{pedidoView.descripcionCancelacion}"/>
						</h:panelGrid>
						<h:panelGrid id="panelBotones" columns="2">
							<p:commandButton value="Confirmar" id="btnConfirmar"
								actionListener="#{pedidoView.cancelarPedido}"
								update=":formPedidos ">
							</p:commandButton>
							<p:commandButton value="Cancelar" id="btnCancelarPedido"
								oncomplete="PF('dlgCancelarPedido').hide();"
								styleClass="ui-priority-primary" process="@this">
							</p:commandButton>
						</h:panelGrid>

					</h:form>
				</p:dialog>
				
				<p:dialog header="Cancelar Detalle de Pedido" widgetVar="dlgCancelarDetalle"
					resizable="false" modal="true" id="dlgCancelarDetalle" closable="false">

					<h:form id="formCancelar" class="formCancelar">
						<h:outputLabel for="menuMotivoCancelacion"
							value="Motivo de Cancelación" />
						<h:panelGrid columns="2">
							<p:selectOneMenu id="menuMotivoCancelacion"
								value="#{pedidoView.motivosCancelacionSeleccionado}"
								style="width:300px;" required="true"
								requiredMessage="Motivo de cancelación no seleccionado"
								name="motivoCancelacion" label="motivoCancelacion">
								<f:selectItem itemLabel="Seleccione un Motivo de Cancelación" />
								<f:selectItems value="#{pedidoView.motivosCancelacion}" />
								<p:message for="menuMotivoCancelacion" display="icon" />
							</p:selectOneMenu>
						</h:panelGrid>
						<h:outputLabel for="descripcionCancelacion"
							value="Descripción" />
						<h:panelGrid columns="2">
							<p:inputTextarea id="descripcionCancelacion" value="#{pedidoView.descripcionCancelacion}" 
								required="true" requiredMessage="Descripción de la cancelación no ingresada."/>
							<p:message for="descripcionCancelacion" display="icon" />
						</h:panelGrid>
						<h:panelGrid id="panelBotones" columns="2">
							<p:commandButton value="Confirmar" id="btnConfirmarDetalle"
								actionListener="#{pedidoView.cancelarDetalle}"
								update=":dlgMostrarDetallePedido, :formPedidos:eventsDT">
							</p:commandButton>
							<p:commandButton value="Cancelar" id="btnCancelarDetalle"
								oncomplete="PF('dlgCancelarDetalle').hide();"
								styleClass="ui-priority-primary" process="@this">
								<p:resetInput target=":formCancelar" />
							</p:commandButton>
						</h:panelGrid>

					</h:form>
				</p:dialog>
				
				<p:dialog header="Modificar Datos de Pedido" widgetVar="dlgModificarDatosPedido"
					resizable="false" modal="true" id="dlgModificarDatosPedido" width="40%"
					closable="false"  >
					<h:form id="formModificarDatosPedido" class="formModificarDatosPedido">
						<h:panelGrid id="panelModificarDatosPedido" class="tabledialog" columns="2" cellpadding="3">
							<h:outputLabel for="id" value="Pedido: "/>
							<h:outputText id="id" value="#{pedidoView.numeroPedido}" />
							
							<h:outputLabel for="hsPedido" value="Hora Pedido: " />
							<h:outputText id="hsPedido" value="#{pedidoView.hsPedido}" />
							
							<p:outputLabel for="timeonlyMinMax" value="Hora Entrega: "/>
               				<p:calendar id="timeonlyMinMax" value="#{pedidoView.hsEntrega}" timeOnly="true" pattern="HH:mm"
                					minHour="#{pedidoView.hsMin}" maxHour="#{pedidoView.hsMax}"/>
							
							<h:outputLabel for="estado" value="Estado: " />
							<h:outputText id="estado" value="#{pedidoView.estadoNombre}" />
						
							<h:outputLabel for="menuSucursales" value="Sucursal: " />
							<h:panelGrid columns="2">
								<p:selectOneMenu id="menuSucursales"
									value="#{pedidoView.sucursalSeleccionada}" style="width:300px"
									label="Sucursales">
									<f:selectItems value="#{pedidoView.sucursales}" />
								</p:selectOneMenu>
								<p:message for="menuSucursales" display="icon" />
							</h:panelGrid>
							
							<h:outputLabel for="comentarios" value="Comentarios: " />
							<p:inputTextarea id="comentarios" value="#{pedidoView.comentarios}"/>
							
							<h:outputLabel for="menuPagos" value="Forma de Pago: " />
							<h:panelGrid columns="2" >
								<p:selectOneMenu id="menuPagos"
									value="#{pedidoView.tipoPago}" style="width:300px"
									label="Tipo de Pago">
									<f:selectItems value="#{pedidoView.tipoPagos}" />
								</p:selectOneMenu>
								<p:message for="menuPagos" display="icon" />
							</h:panelGrid>
							
							<h:outputLabel for="total" value="Total: " />
							<h:outputText id="total" value="#{pedidoView.total}" />
							
							<h:outputLabel for="menuEntregas" value="Forma de Entrega: " />
							<h:panelGrid columns="2" >
								<p:selectOneMenu id="menuEntregas"
									value="#{pedidoView.tipoEntrega}" style="width:300px"
									label="Tipo Entrega">
									<p:ajax listener="#{pedidoView.cambiarEnvio}" 
										update=":formModificarDatosPedido , :formModificarDatosPedido:calle , :formModificarDatosPedido:numero , :formModificarDatosPedido:piso , :formModificarDatosPedido:dpto" />
									<f:selectItems value="#{pedidoView.tipoEntregas}" />
								</p:selectOneMenu>
								<p:message for="menuEntregas" display="icon" />
							</h:panelGrid>
									
							<h:outputLabel for="calle" value="Calle: " rendered="#{pedidoView.isEnvio}"/>
							<h:inputText id="calle" value="#{pedidoView.calle}" rendered="#{pedidoView.isEnvio}"/>
						
							<h:outputLabel for="numero" value="Número: " rendered="#{pedidoView.isEnvio}"/>
							<p:inputText id="numero" value="#{pedidoView.numero}" rendered="#{pedidoView.isEnvio}" > 
								<f:validateLongRange minimum="0"/>
							</p:inputText>
							
						
							<h:outputLabel for="piso" value="Piso: " rendered="#{pedidoView.isEnvio}"/>
							<h:inputText id="piso" value="#{pedidoView.piso}" rendered="#{pedidoView.isEnvio}"/>
						
							<h:outputLabel for="dpto" value="Dpto: " rendered="#{pedidoView.isEnvio}"/>
							<p:inputText id="dpto" value="#{pedidoView.dpto}" rendered="#{pedidoView.isEnvio}"/>
						</h:panelGrid>

						<h:panelGrid id="panelBotones" columns="2">
							<p:commandButton value="Aceptar" id="btnAceptar"
								actionListener="#{pedidoView.modificarPedido}"
								update=":dlgMostrarPedido , :formDetalle , :formPedidos">
							</p:commandButton>
							<p:commandButton value="Cancelar" id="btnCancelar"
								oncomplete="PF('dlgModificarDatosPedido').hide();"
								styleClass="ui-priority-primary" process="@this">
							</p:commandButton>
						</h:panelGrid>
					</h:form>
				</p:dialog>
				
				<p:dialog header="Modificar Ítem de Pedido" widgetVar="dlgModificarDetalle"
					resizable="false" modal="true" id="dlgModificarDetalle"
					closable="false"  >
					<h:form id="formModificarDetalle" class="formModificarDetalle">
						<h:panelGrid id="panelModificarDetalle" columns="1">

							<h:outputLabel for="menuTipoProducto" value="Tipo de Producto:" />
							<h:panelGrid columns="2">
								<p:selectOneMenu id="menuTipoProducto" disabled="true"
									value="#{pedidoView.tipoProductoSeleccionado}"
									style="width:300px;" required="true"
									requiredMessage="Tipo de producto no seleccionado"
									name="tipoProductos" label="tipoProducto">
									<p:ajax listener="#{pedidoView.filtrarProductos}"
										update="menuProducto" />
									<f:selectItem  />
									<f:selectItems value="#{pedidoView.tipoProductos}" />
									<p:message for="menuTipoProducto" display="icon" />
								</p:selectOneMenu>
							</h:panelGrid>

							<h:outputLabel for="menuProducto" value="Producto:" />
							<h:panelGrid columns="2" >
								<p:selectOneMenu id="menuProducto" disabled="true"
									value="#{pedidoView.productoSeleccionado}" style="width:300px;"
									required="true" requiredMessage="Producto no seleccionado"
									name="productos" label="producto">
									<f:selectItems value="#{pedidoView.productos}" />
									<p:message for="menuProducto" display="icon" />
								</p:selectOneMenu>
							</h:panelGrid>
							<h:panelGrid id="panelCantidad" columns="3">
								<p:outputLabel value="Cantidad: " for="spinnerCantidad"/>
								<p:spinner id="spinnerCantidad" value="#{pedidoView.cantidad}"
									min="1" max="10" size="8" />
							</h:panelGrid>
							<h:outputLabel value="Comentarios:" />
							<h:panelGrid columns="1">
								<p:inputTextarea id="descrip" value="#{pedidoView.comentariosDetalle}"/>
							</h:panelGrid>
						</h:panelGrid>

						<h:panelGrid id="panelBotones" columns="2">
							<p:commandButton value="Aceptar" id="btnAceptar"
								actionListener="#{pedidoView.modificarDetalle}"
								update=":dlgMostrarPedido , :formPedidos , :formDetalle , :formDetalle:detalleDT">
							</p:commandButton>
							<p:commandButton value="Cancelar" id="btnCancelar"
								oncomplete="PF('dlgModificarDetalle').hide();"
								styleClass="ui-priority-primary" process="@this">
							</p:commandButton>
						</h:panelGrid>
					</h:form>
				</p:dialog>
				<p:dialog header="Registrar Cobro" id="dlgRegistrarCobro"
					widgetVar="dlgRegistrarCobro" closable="false" modal="true"
					resizable="false">
					<h:form>
						<h:outputLabel
							value="¿Está seguro de confirmar el cobro del pedido seleccionado?" />
						<h:panelGrid id="panelConfirmarCobro" columns="2"
							cellpadding="10%">
							<p:commandButton id="btnConfirmarCobro" value="Confirmar"
								actionListener="#{pedidoView.registrarCobro}"
								update=":formPedidos , :formPedidos:panelBotones" />
							<p:commandButton id="btnCancelarCobro" value="Cancelar"
								oncomplete="PF('dlgRegistrarCobro').hide();" process="@this">
								<p:resetInput target=":dlgRegistrarCobro" />
							</p:commandButton>
						</h:panelGrid>
					</h:form>
				</p:dialog>
				<p:dialog header="Confirmar Acción Modificar" widgetVar="dlgValidarModificacion" 
					id="dlgValidarModificacion" closable="false" modal="true" resizable="false" >
					<h:form>
					<h:outputLabel value="El elemento de pedido que intenta modificar tiene como estado 'En Preparación'. Le recomendamos
						que no prosiga con la intención de modificarlo. En caso de proseguir con la modificación, por favor comuníquese con 
						cocina para darles aviso. Muchas Gracias." />
					<h:panelGrid id="panelValidarModificacion" columns="2">
						<p:commandButton id="btnProseguirModif" value="Modificar" action="#{pedidoView.validoModificacion}"
							update=":dlgModificarDetalle"/>
						<p:commandButton id="btnCancelarModif" value="Cancelar" oncomplete="PF('dlgValidarModificacion').hide();"
							update=":dlgMostrarDetallePedido"/>
					</h:panelGrid>
					</h:form>
				</p:dialog>
				
				<p:dialog header="Confirmar Acción Modificar" widgetVar="dlgValidarModificacionPedido" 
					id="dlgValidarModificacionPedido" closable="false" modal="true" resizable="false" >
					<h:form id="formValidarModificacionPedido">
					<h:outputLabel value="El pedido que intenta modificar tiene como estado 'En Preparación'. Le recomendamos
						que no prosiga con la intención de modificarlo. En caso de proseguir con la modificación, por favor comuníquese con 
						cocina para darles aviso. Muchas Gracias." />
					<h:panelGrid id="panelValidarModificacionPedido" columns="2">
						<p:commandButton id="btnProseguirModif" value="Modificar" action="#{pedidoView.validoModificacionPedido}"
							update=":dlgModificarDatosPedido"/>
						<p:commandButton id="btnCancelarModif" value="Cancelar" oncomplete="PF('dlgValidarModificacionPedido').hide();"
							update=":dlgMostrarPedido"/>
					</h:panelGrid>
					</h:form>
				</p:dialog>
				
			</div>
		</div>
	</div>
</h:body>
</html>