<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:jsf="http://xmlns.jcp.org/jsf"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets">
<h:head>
	<title>Hermes</title>
	<meta charset="utf-8"></meta>
	<!-- Custom Fonts -->
    <link href="../../resources/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
</h:head>
<h:body>

	<h:outputStylesheet library="css" name="hermes.css" target="head" />
	<h:outputStylesheet library="css" name="bootstrap.min.css" target="head" />
	<h:outputStylesheet library="css" name="sb-admin.css" target="head" />
	
	<div id="wrapper">
	
	
	<ui:include src="../../plantillas/cabecera.xhtml" />
	
	 <div id="page-wrapper">

            <div class="container-fluid">
		
	<h:form id="form">
		<p:growl id="msgs" showDetail="true" globalOnly="true" />
		<h:panelGrid class="panelBotones" id="panelBotones" columns="3">
				<p:commandButton action="#{cocinaView.deshacer}" id="btnDeshacer" style="width:150px;"
					value="Deshacer" class="fa fa-reply" disabled="#{cocinaView.sinCambios}"
					update=":form:pedidosCocinaDT, :form:panelBotones">
				</p:commandButton>
		</h:panelGrid>
		<p:dataTable class="dataTabla" var="pedido" value="#{cocinaView.pedidosCocina}"
			id="pedidosCocinaDT" selection="#{cocinaView.pedidoSeleccionado}"
			selectionMode="single" rowKey="#{pedido.id}" sortBy="#{viewOrders.id}" 
			scrollable="true" scrollHeight="450"
			emptyMessage="No se encontraron pedidos con el criterio especificado."
			rowStyleClass="#{pedido.estado eq 'En Espera' ? 'en-espera' : 
					pedido.estado eq 'Preparado' ? 'preparado' : 
					pedido.estado eq 'Cancelado' ? 'cancelado' : 
					pedido.estado eq 'En Preparación' ? 'en-preparacion' : 
					null}">
			<f:facet name="header">
            	Cocina
        	</f:facet>
			<p:column style="width: 36px;">
				<p:rowToggler />
			</p:column>
			<p:column headerText="Número de Pedido">
				<h:outputText value="#{pedido.id}" />
			</p:column>
			<p:column headerText="Hora">
				<h:outputText value="#{pedido.horaPedido}" />
			</p:column>
			<p:column headerText="Estado">
				<h:outputText value="#{pedido.estado}" />
			</p:column>

			<p:rowExpansion id="expansion">
				<p:dataTable var="detalle" value="#{pedido.detalle}"
					id="cocinaExpansionDT" selectionMode="single"
					selection="#{cocinaView.detalleSeleccionado}"
					rowKey="#{detalle.id}"
					rowStyleClass="#{detalle.estado eq 'En Espera' ? 'en-espera' : 
					detalle.estado eq 'Preparado' ? 'preparado' : 
					detalle.estado eq 'Cancelado' ? 'cancelado' : 
					detalle.estado eq 'En Preparación' ? 'en-preparacion' : 
					null}">
					<p:ajax event="rowDblselect" listener="#{cocinaView.rowDblSelect}" 
						update=":form:msgs, :form:pedidosCocinaDT:cocinaExpansionDT, :form:pedidosCocinaDT, :form:panelBotones" />
					<p:column headerText="Tipo Producto" rendered="#{cocinaView.esCancelado(detalle.estado)}">
						<h:outputText value="#{detalle.producto.tipoProducto}" />
					</p:column>

					<p:column headerText="Producto" rendered="#{cocinaView.esCancelado(detalle.estado)}">
						<h:outputText value="#{detalle.producto}" />
					</p:column>

					<p:column headerText="Cantidad" rendered="#{cocinaView.esCancelado(detalle.estado)}">
						<h:outputText value="#{detalle.cantidad}" />
					</p:column>

					<p:column headerText="Estado" rendered="#{cocinaView.esCancelado(detalle.estado)}">
						<h:outputText value="#{detalle.estado}" />
					</p:column>
				</p:dataTable>
			</p:rowExpansion>
		</p:dataTable>
	</h:form>
	</div>
	</div>
	</div>
</h:body>
</html>