<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:jsf="http://xmlns.jcp.org/jsf"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:pe="http://primefaces.org/ui/extensions">
<h:head>
	<title>Hermes</title>
	<meta charset="utf-8"></meta>
	<!-- Custom Fonts -->
	<link href="../../resources/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
	<script src="http://maps.google.com/maps/api/js?key=AIzaSyDjohQyH-_vKzHIXh2x7ImjCGFAIAn55k0"
		type="text/javascript">
	</script>
	
	<script type="text/javascript">
		function geocode() {
			var adrees = $('#formNueva\\:calle').val() + " "
					+ $('#formNueva\\:num').val();
			PF('geoMap').geocode(adrees);
		}
	</script>

</h:head>
<h:body>

	<h:form style="disabled:true;" id="formNueva">
		<h:outputLabel for="calle" value="Calle:" />
		<p:inputText id="calle" value="#{sucursalView.calle}" required="true"
			requiredMessage="Calle no ingresada" />
		<p:message for="calle" display="icon" />
		<h:outputLabel for="num" value="Número:" />
		<p:inputMask id="num" value="#{sucursalView.numero}" required="true"
			requiredMessage="Número no ingresado">
			<f:validateDoubleRange minimum="0.0" />
		</p:inputMask>
		<p:message for="num" display="icon" />
		<h:panelGrid columns="3" style="margin-bottom:10px" cellpadding="5">
			<p:outputLabel for="address" value="Address:" />
			<p:inputText id="address" />
			<p:commandButton value="Geocode" icon="ui-icon-search"
				onclick="geocode(); PF('dlg').show();" type="button" />
		</h:panelGrid>
	</h:form>

		<p:dialog id="gmapDialog" widgetVar="dlg" width="625" height="400"
			modal="true">
				<h:form>
			<p:gmap id="geoGmap" widgetVar="geoMap"
				center="#{geocodeView.centerGeoMap}" zoom="6" type="ROADMAP"
				model="#{geocodeView.geoModel}" style="width:100%;height:400px">
				<p:ajax event="geocode" listener="#{geocodeView.onGeocode}"
					update="@this" />
			</p:gmap>
				</h:form>
		</p:dialog>

</h:body>
</html>