<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">
<h:head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Hermes</title>
	<h:outputStylesheet library="css" name="principal.css" />
	<h:outputStylesheet library="css" name="style.css" />
</h:head>
<h:body>

	<p:growl id="growl" sticky="true" showDetail="true" life="3000" />

	<p:layout fullPage="true" widgetVar="layoutWdgt">
		<p:layoutUnit id="header" position="north" size="150">
			<div id="o-wrapper" class="o-wrapper">
				<main class="o-content">
				<div class="o-container">
					<div class="c-buttons">
						<p:commandButton id="c-button--slide-right"
							icon="fa fa-fw fa-shopping-cart" type="button"></p:commandButton>
					</div>
				</div>
				</main>
			</div>
			<h:form id="formIndex">
				<p:commandLink value="Login" onclick="PF('dlg').show();"
					title="login">
					<h:outputText value="Login" />
				</p:commandLink>
			</h:form>
		</p:layoutUnit>

		<p:layoutUnit position="west">
			<div class="menu">
				<!-- <img class="mipedido" src="resources/imagenes/menu3.jpg" /> -->
				<h:form>
					<p:menu model="#{menuView.model}" />
				</h:form>
			</div>
		</p:layoutUnit>

		<p:layoutUnit position="center">
			<h:form id="formProducto">
				<p:dataGrid var="producto" value="#{dataScrollerView.productos}"
					columns="3" layout="grid">
					<div class="contenedor" style="position: relative; height: 165px;">
						<p:panel>
							<h:panelGrid columns="2" style="width:100%; padding: 0.5em 1em;">
								<h:panelGrid columns="1" style="width:100%">
									<h:outputText style="font-size:80%;"
										value="#{producto.tipoProducto.nombre}" />
									<h:outputText value="#{producto.nombre}" />
								</h:panelGrid>

								<h:outputText id="precio" value="#{producto.precio}$" />
							</h:panelGrid>

							<h:panelGrid columns="1" style="width:100%; padding: 0.5em 1em;"> 
								<h:outputText style="font-size: x-small;"
									value="#{producto.descripcion}" />
							</h:panelGrid>
							
							
							<p:commandButton value="Agregar"
								actionListener="#{carritoView.productoSeleccionado(producto)}"
								update=":dlgDetalle" style="width: 100%;"
								styleClass="btnAgregar" />
						</p:panel>
					</div>
				</p:dataGrid>
			</h:form>
		</p:layoutUnit>
	</p:layout>

	<nav id="c-menu--slide-right" class="c-menu c-menu--slide-right">
		<button class="c-menu__close">Ocultar</button>
	
	<h:form id="formPedido">

			<p:growl id="growlCarrito" life="2000" />
			<p:outputPanel id="panelCarrito" rendered="#{carritoView.carrito}"
				autoUpdate="true">
				<p:dataList value="#{carritoView.detalle}" var="detalle"
					type="unordered" itemType="none" emptyMessage="">

					<h:panelGrid columns="4">
						<h:outputText id="cantidad" value="#{detalle.cantidad}x"
							styleClass="cantidadCarrito" />
						<h:panelGrid>
							<h:outputText value="#{detalle.producto.tipoProducto.nombre}"
								styleClass="productoCarrito" />
							<h:outputText value="#{detalle.producto.nombre}"
								styleClass="productoCarrito" />
						</h:panelGrid>
						<h:outputText value="#{detalle.subtotal}$"
							styleClass="subtotalCarrito" />
						<h:panelGrid>
							<p:commandLink update=":dlgModificarDetalle, :formPedido"
								oncomplete="PF('dlgModificarDetalle').show()" title="Editar"
								styleClass="ui-icon ui-icon-pencil">
								<f:setPropertyActionListener value="#{detalle}"
									target="#{carritoView.detalleAModificar}" />
							</p:commandLink>

							<p:commandLink update=":formPedido" title="Eliminar"
								styleClass="ui-icon ui-icon-close"
								style="float:right;margin-right:10px;vertical-align: text-top;">
								<f:setPropertyActionListener value="#{detalle}"
									target="#{carritoView.detalleAEliminar}" />
							</p:commandLink>
						</h:panelGrid>
					</h:panelGrid>

					<p:separator />
				</p:dataList>

				<div id="bottom">
					<div id="bottom-contenido">

						<h:panelGrid id="panelTotal" columns="2"
							style="margin-right: 0px;">
							<p:outputLabel for="total" value="Total: " />
							<p:outputLabel id="total" value="#{carritoView.total}" />
						</h:panelGrid>

						<p:commandButton id="btnConfirmar" value="Confirmar"
							actionListener="#{carritoView.revisarConfirmacion}"
							update=":formPedido, :dlgComprobante, growlCarrito">
							<p:confirm header="Realizar encargo"
								message="De realizar la confirmación, se realizará el encargo de su Orden, ¿quiere revisar su Orden antes de confirmarla?"
								icon="ui-icon-alert" />
							<p:confirmDialog global="true" showEffect="fade"
								hideEffect="fade">
								<p:commandButton value="Revisar Pedido"
									styleClass="ui-confirmdialog-yes" icon="ui-icon-document"
									update=":formPedido, growlCarrito, :dlgComprobante" />
								<p:commandButton value="Volver a la selección de Productos"
									type="button" styleClass="ui-confirmdialog-no"
									icon="ui-icon-close" />
							</p:confirmDialog>
						</p:commandButton>

					</div>
				</div>
			</p:outputPanel>

		</h:form>
	</nav>

	<div id="c-mask" class="c-mask"></div>
	<p:dialog header="Login" widgetVar="dlg" id="dlgLogin"
		resizable="false" closeOnEscape="true" modal="true" showEffect="fade"
		hideEffect="fade" draggable="false">

		<form action="${request.contextPath}/appLogin" method="POST">
			<div class="imgcontainer">
				<img src="resources/imagenes/avatar.png" alt="Avatar" class="avatar" />
			</div>
			<h:outputLabel value="Usuario:" />
			<input type="text" name="app_username" placeholder="Ingrese usuario"
				class="inputLogin" /><br /> <br />
			<h:outputLabel value="Contraseña:" />
			<input type="password" name="app_password"
				placeholder="Ingrese contraseña" class="inputLogin" /> <br /> <a
				onclick="PF('dlgReestablecerPassword').show();"
				id="lnkReestablecerPass">¿Olvidaste tu Usuario o Contraseña?</a> <br />
			<input id="btnLogin" type="submit" value="Login" />

		</form>


	</p:dialog>

	<p:dialog id="dlgDetalle" header="Detalle" widgetVar="dlgDetalle"
		resizable="false" modal="true" closable="false">
		<h:form id="formDetalle">

			<h:panelGrid id="panelDetalle" columns="1">
				<p:outputLabel
					value="#{carritoView.producto.tipoProducto.nombre}: #{carritoView.producto.nombre}" />

				<h:panelGrid id="panelCantidad" columns="3">
					<p:outputLabel value="Cantidad: " for="spinnerCantidad" />
					<p:spinner id="spinnerCantidad" value="#{carritoView.cantidad}"
						min="1" max="10" size="8" />

				</h:panelGrid>
			</h:panelGrid>

			<h:panelGrid id="panelBotones" columns="2">
				<p:commandButton value="Agregar" id="btnAgregar"
					actionListener="#{carritoView.agregarACarrito}"
					update=":dlgDetalle, :formPedido:panelTotal, :formPedido, :formPedido:panelCarrito">
				</p:commandButton>
				<p:commandButton value="Cancelar" id="btnCancelar"
					oncomplete="PF('dlgDetalle').hide();"
					styleClass="ui-priority-primary" process="@this">
				</p:commandButton>
			</h:panelGrid>
		</h:form>
	</p:dialog>
	<p:dialog id="dlgModificarDetalle" header="Detalle"
		widgetVar="dlgModificarDetalle" resizable="false" modal="true"
		closable="false">
		<h:form id="formModificarDetalle">

			<h:panelGrid id="panelModificarDetalle" columns="1">
				<p:outputLabel
					value="#{carritoView.producto.tipoProducto.nombre}: #{carritoView.detalleAModificar.producto.nombre}" />

				<h:panelGrid id="panelModificarCantidad" columns="2">
					<p:outputLabel for="spinnerCantidadMod" value="Cantidad:" />
					<p:spinner id="spinnerCantidadMod"
						value="#{carritoView.detalleAModificar.cantidad}" min="1" max="10"
						size="8" />

				</h:panelGrid>
			</h:panelGrid>

			<h:panelGrid id="panelBotones" columns="2">
				<p:commandButton value="Agregar" id="btnAgregar"
					actionListener="#{carritoView.modificarCarrito}"
					update=":dlgDetalle , :dlgModificarDetalle">
				</p:commandButton>
				<p:commandButton value="Cancelar" id="btnCancelar"
					oncomplete="PF('dlgModificarDetalle').hide();"
					styleClass="ui-priority-primary" process="@this">
				</p:commandButton>
			</h:panelGrid>
		</h:form>
	</p:dialog>

	<p:dialog id="dlgComprobante" header="Resumen del Pedido"
		widgetVar="dlgComprobante" resizable="false" modal="true"
		closable="false">
		<h:form id="formComprobante">
			<p:dataTable class="dataTabla" value="#{carritoView.detalle}"
				var="detalle">
				<f:facet name="header">
            	Comprobación de Pedido
        	</f:facet>
				<p:column headerText="Nombre de tipo de producto" id="nombreTPDT">
					<h:outputText value="#{detalle.nombreTipoProducto}" />
				</p:column>
				<p:column headerText="Nombre de producto" id="nombrePDT">
					<h:outputText value="#{detalle.nombreProducto}" />
				</p:column>
				<p:column headerText="Cantidad" id="cantidadDT">
					<h:outputText value="#{detalle.cantidad}" />
				</p:column>
				<p:column id="subtotalDT">
					<h:outputText value="#{detalle.subtotal}">
						<f:convertNumber type="currency" currencySymbol="$" />
					</h:outputText>
				</p:column>
				<p:columnGroup type="footer">
					<p:row>
						<p:column colspan="3" style="text-align:right" footerText="Total:" />
						<p:column footerText="#{carritoView.total}" />
					</p:row>
				</p:columnGroup>

			</p:dataTable>
			<h:panelGrid columns="2">
			<p:selectOneMenu id="menuSucursales"
				value="#{carritoView.sucursalSeleccionada}"
				style="margin-right:0px;" required="true" name="Sucursales"
				requiredMessage="Sucursal no ingresada">
				<f:selectItem itemLabel="Seleccione una sucursal" itemValue=""
					noSelectionOption="true" />
				<f:selectItems value="#{carritoView.sucursalesHabilitadas}" />
			</p:selectOneMenu>
			<p:message for="menuSucursales" display="icon" />
			</h:panelGrid>
			<h:panelGrid id="panelBotones" columns="2">
				<p:commandButton value="Confirmar" id="btnConfirmarFunca"
					icon="ui-icon-check" styleClass="ui-priority-primary"
					action="#{carritoView.confirmar}"
					update=":formPedido, :formPedido:growlCarrito">
				</p:commandButton>

				<p:commandButton value="Volver" id="btnVolver" icon="ui-icon-close"
					oncomplete="PF('dlgComprobante').hide();" process="@this"
					styleClass="ui-priority-primary">
				</p:commandButton>
			</h:panelGrid>
		</h:form>
	</p:dialog>

	<p:dialog id="dlgReestablecerPassword"
		widgetVar="dlgReestablecerPassword"
		header="¿Olvidaste tu Usuario/Contraseña?" resizable="false"
		modal="true" closable="false">
		<h:form id="formReestablecerPass">
			<h:panelGrid id="panelReestablecesPass" columns="2">
				<h:outputLabel
					value="Ingrese su Usuario o e-mail asociado al mismo para recuperar su contraseña." />
				<p:inputText type="text" id="parametro"
					value="#{userView.parametro}" required="true"
					requiredMessage="No ingresó referencia para encontrar su cuenta.">
					<p:message for="parametro" display="icon" />
				</p:inputText>
			</h:panelGrid>

			<h:panelGrid id="panelBtn" columns="2">
				<p:commandButton id="btnConfirmar" value="Confirmar"
					update=":dlgLogin , :growl"
					actionListener="#{userView.reestablecerPassword}"
					icon="ui-icon-check">
					<p:confirm header="Confirmar Reestablecer Cuenta"
						message="Al confirmar se le enviará un e-mail con el nuevo password. La primera vez que ingrese con dicho password deberá cambiarlo por su seguridad."
						icon="ui-icon-alert" />
					<p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
						<p:commandButton value="Aceptar" styleClass="ui-confirmdialog-yes"
							icon="ui-icon-check" />
						<p:commandButton value="Cancelar" type="button"
							styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
					</p:confirmDialog>
				</p:commandButton>
				<p:commandButton value="Cancelar" icon="ui-icon-close"
					process="@this" oncomplete="PF('dlgReestablecerPassword').hide()">
					<p:resetInput target=":dlgReestablecerPassword" />
				</p:commandButton>
			</h:panelGrid>
		</h:form>
	</p:dialog>
	<h:outputScript library="js/dist" name="menu.js" />
	<script>
		/**
		 * Slide right instantiation and action.
		 */
		var slideRight = new Menu({
			wrapper : '#o-wrapper',
			type : 'slide-right',
			menuOpenerClass : '.c-button',
			maskId : '#c-mask'
		});

		var slideRightBtn = document.querySelector('#c-button--slide-right');

		slideRightBtn.addEventListener('click', function(e) {
			e.preventDefault;
			slideRight.open();
		});
	</script>

	<script type="text/javascript">
		function handleLoginRequest(xhr, status, args) {
			if (args.validationFailed || !args.loggedIn) {
				PF('dlg').jq.effect("shake", {
					times : 5
				}, 100);
			} else {
				PF('dlg').hide();
				$('#loginLink').fadeOut();
				setTimeout(function() {
					window.location = args.view;
				}, 500);

			}
		}
	</script>
</h:body>

</html>