<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:jsf="http://xmlns.jcp.org/jsf"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets">
<h:head>
	
</h:head>
<h:body>

	
			<h:form enctype="multipart/form-data">
				<p:growl id="messages" showDetail="true" />
				<p:fileUpload value="#{imgView.imagenFile}" mode="simple"
					skinSimple="true" update="imgProd" />
				<p:commandButton value="Click" action="#{imgView.subirArchivo()}"></p:commandButton>
				<p:graphicImage id="imgProd" value="#{imgView.imagen}"></p:graphicImage>
			</h:form>

</h:body>
</html>